---
layout: default
title: Dental Checkup | Cute Smile Dr Samina Kathawala Hackensack NJ 201 778 0225
description: Routine Dental Check is the only way to keep your gums and teeth healthy. Why is routine dental check up so important? Adults over 35 lose more teeth to gum diseases, like periodontal disease, than from cavities. Three out of four adults are affected at some time in their life. The best way to prevent cavities and periodontal disease is by maintaing good dental hygiene. We serve Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="chipped_teeth">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="chipped_teeth" class="col-sm-8">

					<div id="chipped_teeth" class="icon-box">
                        <h2 style="color:goldenrod"><B>Chipped Tooth</B></h2>



				
<h2 style="color:black">What shall I do if I chip my tooth?</h2>
<h4><p class="text-justify">

Dont panic. But try to get to a dental clinic as soon as possible. Call us or message us from this website and we wil try and accomodate you the same day.  When you call us we will try and guage the severity of the issue and happiily guide you in what can be done and how quickly it can be done.
<br> 

<h2 style="color:black">Steps to take after a cipped tooth?</h2>
<h4><p class="text-justify">
The obvious question that comes to mind after a chipped tooth is -  "What should I do?". 
<ul class="text-justify">
	<li>STEP 1 - Rinse your mouth and remove any debris that may have gotten stuck while you fell and chipped your tooth. If that is not the case and you were eating something and you chipped your tooth, then too rinse your mouth with warm water. <br><br>  
	<li>STEP 2 - Place a piece of gauze in your mouth and press on the area that is bleeding. Applying light pressure may also help ease any discomfort being caused by the tooth being chipped and the dentin being exposed. As a cosmetic dentist serving Hackensack and surrounding areas, we have found this to be particularly useful for helping our young patients take their mind off their discomfort.<br><br>
	<li>Step 3 - Purchase dental cement at any drugstores and use it to cover the chipped tooth. As a cosmetic dentist, we prefer to simply treat your tooth and restore it immediately. However, if you are traveling, have a busy day at work, or simply cannot find the time to come in, this is a temporary solution that will work. Just be sure to visit Dr Samina Kathawala the next day.. <br><br>  
	<li>Step 4 - Call our cosmetic dental services office and schedule an appointment to be seen as soon as possible. We will do our best to work around your schedule so you can have your tooth restored immediately.
<br><br>

</ul> </p>

<h2 style="color:black">How will my smile and tooth restored?</h2>
<h4><p class="text-justify">
There are many options and depending on the severity certain options may or may not be viable. Dr Samina Kathawala is excellent in restoring chipped tooth so take comfort that you are in very capable hands. <ul class="text-justify">
	<li>Option 1 - Dental Bonding - To restore chipped tooth as a cosmetic dentist we apply tooth colored bonding material to the damaged tooth and then artistically shape it to make it look natural, and harden it for a natural-looking restoration. However the bonding material and look will be asthetic it will not be as storng as a crown and therefore special care shall be taken to improve longevity. <br><br>  
	<li>Option 2 - Dental Veneers - Many of the adults who visit our general dentist office prefer to repair their teeth using dental veneers. A veneer can be used to restore a chipped tooth, cover dark stains, close gaps in between teeth, and more. This makes veneers an incredibly popular option among our patients.<br><br>
	<li>Option 3 - Dental Crown or Bridge - If you have lost a tooth in addition to damaging one, we can do the above options to restore the damaged tooth and then work on replacing your missing tooth. To replace your missing tooth dental crowns and bridges or dental implants can be done. Both solutions will restore the appearance and functionality of your smile. And dental crown or bridge or an implant will last you a long time.<br><br>  

<h2 style="color:black">Will this restore my smile?</h2>
<h4><p class="text-justify">
In most instances a properly done smile makeover will not only restore but enhance your smile. You will be astounded by the results. We routinely do smile makeovers and cosmetic dentistry in our hackensack clinic. Ecstatic patients, taking selfies and jumping with joy ( when they see the results) is a routine occurance at our clinic. 
<br><br>
To further enhance your smile, ask for "in office" teeth whitening. We offer teeth whitening treatment that will brighten your smile and improve your self-confidence. When combined with dental restorations, this is an excellent way to enhance your appearance. We routinely run in office teeth whitening promotions, so ask for it. 

<br><br>


<h2 style="color:black">Frequently asked questions (FAQ) about Chipped Tooth</h2>

<h4><p class="text-justify">
<b style="color:red"> How long can I wait until I see a dentist after a chipped tooth?</b>
<br><br>
While we do advise that you see a dentist as soon as possible. However if you are having no discomfort and do not have any issues brushing and flossing and are not bleeding then its not an acute emergency to see a dentist immediately. 
<br><br>

<b style="color:red"> Should I choose bonding or Veneer or crown as an option? </b>
<br><br>

While every situation is different, usually the crown and bridge will be more long lasting options, though they will cost more. Teeth bonding, will be the most economical but will not last long. Therefore you will have to decide what you can afford and set realistic expectation as each otion is different and each comes with different longevity.

<br><br>

<b style="color:red"> Will my smile and tooth look natural after the treatment? </b>
<br><br>
Dr Samina is an artist and has gifted hands. She enjoys doing "smile makeover" and "cosmetic dentistry". She has done 1000's of these treatments and is an expert. Given comsetic dentistry is more an art than an exact scinence, keep in mind that which ever dentist you choose is capable and have the experience. Do shop around, and its always advised, but choosing the most economical dentist may NOT lead to the results you may be expecting. So do your research and choose wisely.<br><br>

<b style="color:red"> How much will it cost? </b>
<br><br>
While cosmetic dentistry is not cheap, but our prices are reasonable. Call us and we will be happy to give you the details. The first step is to visit us for a consultation. 
<br><br>

</p>
</p>



<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>
                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


