---
layout: default
title: Crown and Bridge | Cute Smile Dr Samina Kathawala Hackensack NJ 201 778 0225
description: What are Dental Crown and Bridge? Does your tooth need a crown? Read more about porcelain  crown, Cermaic Crowns Bruxzir and more. We serve Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Hackensack NJ Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="crown" class="col-sm-8">

					<div id="crown" class="icon-box">
                        <h2 style="color:goldenrod"><B> Crown and Bridge</B></h2>



				<!-- <img src="{{ site.baseurl }}/img/carecredit.jpg" alt="treatment.title"> -->
<iframe allowtransparency="true" class="wistia_embed" frameborder="0" height="354" name="wistia_embed" scrolling="no" src="https://fast.wistia.net/embed/iframe/ujlcgw7js2?endVideoBehavior=reset&amp;playerColor=9c9c9c&amp;plugin%5Bcaptions-v1%5D%5BonByDefault%5D=false&amp;version=v1&amp;videoHeight=354&amp;videoWidth=630&amp;volumeControl=true" width="100%" height="426"></iframe>



<h2 style="color:black">What is a Dental Crown</h2>
<h4><p class="text-justify">

A crown is a pre fabricated cap, molded to your tooth and supposed to fit perfectly on your existing tooth. Think of it as a solid and strong covering, that will protect the underlying tooth from the forces of chewing, grinding etc. <br> 

<h2 style="color:black">When is a dental Crown required</h2>
<h4><p class="text-justify">
Usually crowns are placed on tooth that have undergone root canal treatments. This is required, as the tooth after a root canal procedure doesn't have as much strength as a natural tooth and its likely to split or break.
<br><br>	When crafted from today's high-tech porcelains (dental ceramics), crowns are virtually indistinguishable and will operate as well as a natural teeth. They can even be designed to improve upon a tooth's original appearance.<a title="Dental Crowns" href="https://en.wikipedia.org/wiki/Crown_(dentistry)" target="_blank">More info at wikipedia</a>
</p>
</p>

<h2 style="color:black">Crown Materials</h2>

<h4><p class="text-justify">

	There are other materials besides porcelain that can be used to make dental crowns, depending on what qualities are most important. For durability, cast gold can't be beat. However, this is not always the most aesthetic choice especially towards the front of the mouth and because of prohibitive cost. 
	<br><br>
	Other possibilities include porcelain-fused-to-metal crowns (PFM), which have a metal interior for strength and a porcelain exterior for a more natural appearance; another choice is all-porcelain crowns with zirconia, representing the strongest ceramic. Zirconia is the latest innovation and is known be the material of choice with most dental labs.</p>
</h4>
<img class="dd-right" src="{{ site.baseurl }}/img/crown-series.jpg" alt="crown-series">



<h2>
	How long the Crown Procedure takes?</h2>
<h4><p class="text-justify">
Crowning tooth will usually take two visits.
	
	On your first visit, your tooth is prepared to receive its new crown. After the tooth is prepared, impressions of your teeth are taken, either digitally or with reliable, putty-like impression materials, and sent to the dental laboratory. <br> The lab will then use the impression to make models of your teeth to manufacture the crown. <br> The models will serve as guides to the highly skilled lab technicians, who will ensure that your new crown is designed to enhance your smile and function well within your bite.</p>
<br>
<h4><p class="text-justify">
	Before you leave the office, a temporary crown will be attached to your tooth to protect it until the permanent crown is ready. <br> On your second visit, your permanent crown will be attached to your tooth with either a resin that hardens when exposed to a special light source, or some kind advance cementing material.</p>
<h2> What is a Bridge</h2>
<h4><p class="text-justify">
	If you have missing teeth, then a bridge can help replace those missing teeth. A Bridge will change your life, as it will improve your bite and also your esthetics. This is done with bridgework, which spans the space of the missing tooth and requires at least three crowns. Two of those crowns will be placed over healthy teeth on either side of the missing tooth; these healthy teeth are referred to as abutment teeth. The bridge is designed in such a way that the two crowned abutment teeth supports for the third crown placed in between them; that third crown is referred to as a pontic. If more than one tooth is missing, more crowns will be needed to bridge the gap in between the abutment teeth.</p>

<img src="{{ site.baseurl }}/img/bridge-series.jpg" alt="dental-bridge-picture">
<h2>Can I have multiple Bridges to support multiple missing tooth?</h2>
<h4><p class="text-justify">	Answer is yes. The number of abutment teeth necessary to replace missing teeth is influenced by the number of missing teeth, the size and length of the abutment tooth roots, the amount of bone support each abutment tooth has, as well as where in the mouth the missing tooth is located. For example, if you have three missing teeth, four abutment teeth may be necessary, thereby creating a seven-tooth bridge. Engineering and designing of the bridge requires an understanding of how to replace teeth, as well as the biology of the supporting gum and bone tissue.</p>
<h4>
	<h2>Caring for Your Crown  and Bridge</h2>
<h4><p class="text-justify">
	Crowns and bridgework require the same conscientious care as your natural teeth. Be sure to brush and floss between all of your teeth restored and natural every day to reduce the buildup of dental plaque. <br> When you have crowns, it is even more important to maintain your regular schedule of cleanings at the dental office. Avoid using your teeth as tools (to open packages, for example). If you have a grinding habit, wearing a night guard would be a good idea to protect your teeth and your investment.</p>

<br>
<h3><p class="text-justify">Check out this Cleveland clinic article for more info.
<p class="text-justify"><a title="Dental Crowns" href="https://my.clevelandclinic.org/health/treatments/10923-dental-crowns" target="_blank">Dental Crowns</a> 
</p></h3>
<br>





<br>
<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>
                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


