---
layout: default
title: Delta Dental Patients Welcome
description: What makes our dental office unique? Read our reviews and why patient choose Dr. Samina Kathawala  to be their trusted dentist in Hackensack, Lodi, Hasbrouck Heights, Rutherford, River Edge, New Milford, Saddle River, Wood Ridge, Paramus, Glen Rock. 201-778-0225.
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: contain;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod">Welcome DELTA DENTAL Patients</h1>
	<img src="{{ site.baseurl }}/img/DeltaDental.jpg" alt="reviews">

				<p>We are <b>PREFERRED IN-NETWORK </b> provider and see 100's of Delta Dental PPO patients every month.<BR> </p> <p style="color:red">Give us a try, you will love it!.  <b>Schedule online by filling the form on the right.</b></p>

			</div>


			</div>
    </div>


    <div class="container-fluid">
	        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
<!-- TODO YOUTUBE VIDEO EMBED			<h3>Welcome!</h3>	
<iframe  src="https://www.youtube.com/embed/8qvHQIJ4Y3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>						
-->
	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567 NO DASHES" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>


<!-- End Hero -->
<div id="contact" class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact Us</h3>




<!-- Style to bold         <h5 style="color:white"> -->  <h3><ul>
            {% if site.contact.phone %}<li><strong style="color:white">Phone:</strong> <a style="color:white" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></li>{% endif %}<br>
            {% if site.contact.emergency %}<li><strong style="color:white">Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %}
            {% if site.contact.email %}<li><strong style="color:white">Email:</strong> <a style="color:white" href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></li>{% endif %}
        </ul> </h3>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Opening Hours <br><br>
		<table>
            <tbody>
                <tr>
                    <td>Mon-Thur</td> 
                    <td>{{ site.mon_thu }}</td>
                </tr>
				                <tr>
                </tr>

				<tr>
                    <td>Friday</td>
	                    <td>{{ site.friday }}</td>
                </tr>
				                <tr>
                </tr>

				<tr>
                    <td>Saturday</td>
                    <td>{{ site.saturday }}</td>
                </tr>
				                <tr>
                </tr>

				<tr>
                    <td>Sunday</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table> </h3>
    </div>

<div class="col-sm-4">
<a class="scroll"  style="color:white"  href="#location">
		<svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>

		<h3>Location</h3>
            <h3><p>
				{{ site.contact.address }}</a>
			</p> </h3> 
    </div>
</div>

<style>
    .google-maps {
        position: relative;
        padding-bottom: 55%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
		section-title{margin-bottom:60px;text-align:center;color:#d4aa00ff};

    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>

<div > <H4> <B></P></B> </H4>
<div id="location"  class="google-maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.365710364024!2d-74.06068088489864!3d40.88579207931327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2fa20c5d6d0e3%3A0x2d0bdc55167c07b3!2s52+Summit+Ave%2C+Hackensack%2C+NJ+07601!5e0!3m2!1sen!2sus!4v1541732154975" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

