---
layout: default
title: Dental Bonding  in Hackensack NJ
description: What is a Dental Bonding? If Dental bonding is a cosmetic procedure in which a tooth-colored composite resin material is applied to your teeth to improve your smile. Reasonable fees and high quality work. Dr Samina Kathawala is an expert  in dental bonding. Call us to schedule an appointment. We serve Summit Ave Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Wood Ridge NJ Wood-ridge NJ 2017780225.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

			               <h1>
				
				{% if site.contact.phone %}<strong style="color:black">Phone</strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{site.contact.phone }}"> {{site.contact.phone }}  </a>{% endif %} 
<br>
{% if site.contact.text %}<strong style="color:black">Text</strong> <a style="color:red" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a>{% endif %}<br>
</h1>

<p><b><a title="ADDRESS - 52 Summit Ave, Hackensack NJ" href="https://goo.gl/maps/LeK5jGvGLbCjhTha9" target="_blank">ADDRESS - 52 Summit Ave, Hackensack NJ </a></b> </br></p>


	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="Dental-Bonding" class="col-sm-8">

					<div id="Dental-Bonding" class="icon-box">
                        <h2 style="color:goldenrod"><B>Dental Bonding</B><br>Hackensack NJ</h2>



<!--				
<h2 style="color:black"></h2>
<h4><p class="text-justify">
You are having a severe tooth ache or you got hurt playing sport. Worry not, you can call our office <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %} and we will be happy to accomodate you same day for your emergency. <br><br>
Common causes of a dental emergency - 
<ul class="text-justify">
	<li>Abscessed teeth.<br><br>
	<li> Unbearable Toothache.<br><br>
	<li>Broken or fractured teeth. <br><br>  
	<li>Swelling and pain.<br><br>
	<li>A knocked out tooth.<br><br>
	<li>Broken crowns or fillings.<br><br>
	<li>Kids Dental issues such as baby tooth knocked out.<br><br>
	<li>Severe pain in the tooth.<br><br>
</ul> 
</p>
-->

<h2 style="color:black">What is Dental Bonding</h2>
<h4><p class="text-justify">
Dental bonding is a cosmetic dental procedure in which a tooth-colored composite resin material is applied to your teeth to improve your smile. Bonding can improve the appearance of teeth that are chipped, broken, cracked, stained. Dental Bonding will also be an economical solution to reduce spaces between them and improve your smile ("affordable smile makover").<br><br>

Its also an affordable, durable, and long-lasting procedure. It is non-invasive, and therefore its ideal for children and young adults. While people may not know so much about the process, dental bonding is a dependable cosmetic dentistry solution. If you want to learn more about restorative bonding, we encourage you to call our dental office at <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %} for a consultation. 
<br><br>
Bonding your front teeth actually requires minimal preparation of the tooth. Anesthesia is usually not needed unless there is an old restoration or decay present. 
</p>

<h2 style="color:black">How will Dental Bonding be done?</h2>
<h4><p class="text-justify">
If you are looking for a natural-looking restoration, consider Dental Bonding. In this procedure, we apply a tooth-colored resin material to your tooth and shape the resin to make it look natural. <br><br> Dr Samina is an artist, she will not only match your natural color but will finish the edges to make them look natural and blend with your other teeth's look and feel. 

<br><br>
After the resin is applied we will then harden it in place with a special dental light, effectively bonding it to the tooth. We are commited to your smile and regardless of whether you have done bonding or veneer ( resin or porcelian veneer) , your smile will look amazing.
</p>

<h2 style="color:black">What are the advantages of Dental Bonding?</h2>
<h4><p class="text-justify">

<b>Cost</b>: Bonding is one of the least expensive cosmetic procedures.
<br><br>
<b>Time</b>: Unlike crowns and veneers, which require more time to prepare and a second visit to place them, bonding can be completed in a single visit.
<br><br>
<b>Invasiveness</b>: Bonding requires minimal tooth removal. Frequently patients get multiple teeth bonded in one appointment.

</p>

<h2 style="color:black">What are the disadvantages of Dental Bonding?</h2>
<h4><p class="text-justify">

<b>Staining</b>: Although you can achieve excellent results with bonding, the resin does stain over time. Crowns and veneers will be much more stain resistant.
<br><br>
<b>Durability</b>: While bonding will last, but precaution needs to be taken; however dental crowns and veneers are more resistant to breaking and usually are a recommend long lasting solution. 

</p>

<h2 style="color:black">Frequently asked questions (FAQ) about Dental Bonding</h2>

<h4><p class="text-justify">
<b style="color:red"> How long will dental bonding last?</b>
<br><br>
Success of dental bonding is determined, in part, on the location, where bonding was done. If the bonding is on the very edge of your tooth, it most likely won't last as long. The biting forces in your mouth will eventually wear it out. Its recommended that to not directly chew, bite or eat hard foods with your bonded tooth. When you chew hard on your bonded tooth you compromise the structural soundness of dental bonding. 

<br><br>

<b style="color:red"> How do I care for my Dental Bonded teeth?</b>
<br><br>

Just like your natural teeth, brush floss and keep it clean. As long as you avoid undue chewing forces on the bonded teeth and keep them clean, it shall last you a long time. In most instances, carelessness is usually the cause for dental bonding failures. 
<br><br>


<b style="color:red"> Will my insurance cover tooth bonding? </b>
<br><br>
The majority of insurance companies will not cover dental bonding as they consider it a cosmetic dental procedure. However, it doesn't hurt to call your insurance company and ask if they have coverage for cosmetic dental work. You can also refer to your insurance booklet or call the 1-800 number on the back of your insurance card.
<br><br>


<b style="color:red"> Can dental cosmetic bonding fix my kid's chipped tooth? </b>
<br><br>
Yes, it can. As a cosmetic dentist and smile makeover expert, we can restore your child's chipped tooth by applying resin to their tooth and shaping it until it matches their natural one. We will use every tool available to match the shade of the resin with the kids's surrounding teeth. 
<br><br> In most instances once we are done with the procedure, most of your family and friends will likely not notice a difference between the bonded teeth and the other teeth. The only thing to note is that if the child's teeth are still growing, the child may need a revisit in the future.

<br><br>



<b style="color:red">  Can Teeth Bonding fill gaps in between my teeth?? </b>
<br><br>
Yes, it can. When you visit our Hackensack dental office, we can close small gaps between your teeth using this simple procedure. The bonding procedure is an alternative to placing veneers or crowns or undergoing an orthodontic procedure (Dental Braces or Invisalign). Since we can typically complete cosmetic bonding in one dental visit, it is quick and easy.
<br><br>

<b style="color:red">  Can Teeth Bonding change the look of my teeth, such as reshape them? </b>
<br><br>
Yes. Bonding is an excellent way to reshape your teeth. Dental Bonding can lengthen your teeth or change their width. By doing so, your teeth can appear more uniform, and we can eliminate the inconsistencies between your teeth. It only takes 30 to 60 minutes per tooth, so reshaping is much easier and faster. 
<br><br>

<b style="color:red"> Is teeth bonding reversible? Can I get Porcelian Veneer on a bonded teeth? </b>
<br><br>
 Yes, since we apply bonding without removing the enamel on your teeth, the process is reversible. If you want to change course and restore your teeth or change their appearance with an alternative procedure such as Porcelian Veneer or Dental Crown in the future, you can. While most of our patients are satisfied with the appearance of their teeth after the bonding procedure, some use this as a temporary solution while considering more long-term improvements. 
<br><br>


<b style="color:red"> Will bonded teeth feel different? </b>
<br><br>
Not at all. Understand that bonded teeth do not go through any invasive procedure and therefore it will not feel different. 

<br><br>

<b style="color:red"> How much does it cost? </b>
<br><br>
Dental bonding is an affordable solution. Most of our budget concious patients go for dental bonding. Usually dental bonding will run you less than $175 per tooth. Call our office <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %} for a consultation and we will gladly go over all treatment options. 

<br><br>


<p class="text-justify">

<b style="color:red"> Definition of Dental Bonding Terminology</b>
<br><br>
<b style="color:black"> Resin Composite
</b>
<br><br>
Resin composite are made of a advance ceramic and plastic compound. Because resin mimics the appearance of natural teeth, these materials blend right in with your other teeth.

<br><br>
<b style="color:black"> Cosmetic Dentistry
</b>
<br><br>
Cosmetic dentistry is generally used to refer to any dental work that improves the appearance, smile and look of a person's teeth, gums and/or bite. More importantly in most instances smile makeover cases usually gives the patient a confidence boost. An attractive smile can open many many doors.

<br><br>
<b style="color:black"> Dental Filling
</b>
<br><br>
A dental filling involves restoring the structure of the tooth by using metal, alloy, porcelain or plastic to fill the tooth.
<br><br>



<b style="color:black"> Dental Caries
</b>
<br><br>
Dental caries are also known as cavities and result from a lack of proper oral hygiene leaving plaque that forms tiny holes in the teeth.

<br><br>

<b style="color:black"> Tooth decay 
</b>
<br><br>
Tooth decay is when the enamel of the tooth begins to decay and cause erosion from plaque and tartar on the teeth.
<br><br>
<b style="color:black"> Dental Checkup
</b>
<br><br>
A dental checkup is an appointment that involves cleaning the teeth, identifying any signs of infection and removing said signs of infection at least once every six months in the office.

<br><br>

<b style="color:black"> Dental Prophylaxis ( Dental Cleaning) 
</b>
<br><br>

A dental prophylaxis is a professional and detailed cleaning that involves the removal of plaque, calculus and stains from the teeth.

<br><br>

<b style="color:black"> Irreversible Pulpitis</b>
<br><br>

Irreversible pulpitis is when the pain in the tooth occurs spontaneously or continues to hurt after the patient removes the hot/cold substance that was causing pain. Normal pulpitis will cease hurting directly after removing what is causing the pain.

<br><br>

  

<b style="color:black"> Gingivitis
</b>

<br><br>

Gingivitis is the inflammation of gum tissue that results from plaque, other infections in the mouth and poor oral hygiene.
<br><br>


<b style="color:black"> Dental Filling
</b>

<br><br>

A dental filling involves restoring the structure of the tooth by using metal, alloy, porcelain or plastic to fill the tooth.

<br><br>





<b style="color:black"> Tooth Fracture
</b>

<br><br>

A tooth fracture is usually caused by an accidental blow to the face during a sports game, biting on something really hard, falling face first and more.

<br><br>

<b style="color:black"> Tooth Enamel
</b>
<br><br>

Tooth enamel is the protective visible outer surface of a tooth that contains the dentin and dental pulp.

<br><br>


<b style="color:black"> Vacuum Formed Mouthguard
</b>
<br><br>

An advanced mouth guard creation technique. Vacuum formed mouthguard involves customizing the mouthguard to match a mold of the individual patient's teeth for a PERFECT fit.
<br><br>


<b style="color:black">Tartar
</b>
<br><br>

Tartar forms when plaque builds up on the surface of the teeth and calcifies into a hard surface that is much more difficult to remove and will require professional treatment. 

<br><br>

<b style="color:black"> Pericoronitis
</b>
<br><br>

Pericoronitis refers to the inflammation of the soft tissue surrounding the crown of a partially-erupted tooth.

<br><br>


<b style="color:black"> Third Molars
</b>
<br><br>

The third molars are also known as the wisdom teeth and typically require removal in order to prevent pain and other issues in the mouth.

<br><br>


<b style="color:black"> Abscess
</b>
<br><br>

A dental abscess is a pocket of pus the forms in the tooth root from a bacterial infection.

<br><br>
<b style="color:black"> Facial Cellulitis</b>
<br><br>

    Facial cellulitis is a condition in which an infection from an abscess or plaque in the teeth causes pain and spreads throughout the face.

<br><br>

<b style="color:black"> Root Canal</b>
<br><br>

Root canal is a treatment to repair and save a badly damaged or infected tooth instead of removing it. 

<br><br>

<h4>
	<b style="color:red"> Hackensack NJ Dentist you can trust - Gentle and Painless Dentist in Bergen County NJ.
</b>
<br><br>
<b>
Cosmetic Dentist Saddle Brook NJ | Kids Dentist Rutherford NJ | Tooth Ache Wood-Ridge NJ</b>

<h4>


<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>

<!-- bottom block tags START  -->
<br>
<hr style="border: 2px solid red;" />
<h6> Tags - 
	<b style="color:black"> Dental Emergency  Elmwood Park NJ - Root Canal Fairlawn NJ - Cosmetic Dentist Paramus NJ - Toothache Glen Rock NJ  - Emergency Dentist Bogota  NJ</b>
<h6>

<h6>
	<b style="color:red"> Root Canal Hasbrouck Heights NJ | Dentures Teaneck NJ </b>
<br><br>	
<hr style="border: 2px solid red;" />

<h6>
<!-- bottom block tags  END -->

                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


