---
layout: default
title: Dental Checkup | Cute Smile Dr Samina Kathawala Hackensack NJ 201 778 0225
description: Routine Dental Check is the only way to keep your gums and teeth healthy. Why is routine dental check up so important? Adults over 35 lose more teeth to gum diseases, like periodontal disease, than from cavities. Three out of four adults are affected at some time in their life. The best way to prevent cavities and periodontal disease is by maintaing good dental hygiene. We serve Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="Dental_Checkup" class="col-sm-8">

					<div id="Dental_Checkup" class="icon-box">
                        <h2 style="color:goldenrod"><B>Dental Checkup</B></h2>



				
<h2 style="color:black">What will be done during my Dental Check up</h2>
<h4><p class="text-justify">

Routine dental check includes -  dental cleaning, a complete full mouth exam by our dentist and, if any X rays are required they will be taken during your visit. 

<br> 

<h2 style="color:black">Why is Oral Hygiene important?</h2>
<h4><p class="text-justify">
Most adults start losing teeth because they fail to maintain good oral hygiene. Gum or periodontal disease and decay are both caused by bacteria and plaque. Plaque is a colorless coat of film, that sticks to your teeth at the gum line. Plaque constantly accumulates behind your teeth and is not readily visible. It usually has harmful bacteria that overtime eats your gums. <br><br>  By daily brushing and flossing you can remove the plaque and the germs and help prevent long term damage to your teeth. Flossing is extremely important as it removes any food stuck between your teeth. The food that sticks to your teeth helps bacteria grow and multiply, since they eat those tiny food particles. Therefore make it a habit to brush daily and floss daily.

<h2 style="color:black">Good Nutrition is key to healthy teeth.</h2>
<h4><p class="text-justify">
A balanced diet keep you healthy so its important to always eat healthy and exercise.
<br><br>  
How often and what you eat has direct correlation to your dental health. Starchy foods such as cookies, bread, and candy helps the bacteria in your mouth, since they feed on sugars in your mouth left over by these starchy foods. The bacteria's consume these sugars and produces acids that attack your teeth as long as it remains in your mouth. Enamel is the protective coating on your teeth. Food especially candy that stick to your teeth or are slow to dissolve give the acids in your mouth more time to work on and aids in destroying your tooth enamel. <br><br>  Therefore resist the temptation of eating candies. And if you do eat them then rinse your mouth with water after you are done eating them. 


<h2 style="color:black">Foods high in starch are bad for  your teeth </h2>

<h4>
<p class="text-justify">
<b style="color:black">Sugary / Starchy Foods.</b><br><br> <ul class="text-justify">
	<li>Candy. <br><br>  
	<li>Cookies.<br><br>
	<li>Bread. <br><br>  
	<li>Crackers 
<br><br>

</ul> </p>

<p class="text-justify">
<b style="color:black">Sticky Foods.</b><br><br> <ul class="text-justify">
	<li>Chips. <br><br>  
	<li>Granola Bars.<br><br>
	<li>Sticky Candies. <br><br>  
	<li>Dried chewy Snacks


</ul> </p>


<h2 style="color:black">Frequently asked questions (FAQ) about Dental checkup</h2>

<h4><p class="text-justify">
<b style="color:red"> What is a Comprehensive Dental Exam?</b>
<br><br>
Comprehensive Dental Exam is a complete exam of your mouth. During this exam the Dentist will review your medical and dental history and go through your full mouth  X rays and examine your mouth and record her findings in your dental Chart. 
	
It is during this exam that you have the opportunity to ask as many questions as you like. The dentist shall explain and answer all your concerns. At our clinic Dr Samina takes ample time to go through all the findings. She explain's and loves to answer all your questions.  

<br><br>

<b style="color:red"> Will the X rays radiation affect me? </b>
<br><br>

While dental X-rays do involve radiation, the exposed levels are so low that they're considered safe for children and adults. And with digital X-rays your risks from radiation exposure is even lower. Our office is completely digital and we do not use old style X rays and hence the radiation levels are very low. 

To further protect you we use a bib to prevent your body from radiation. 

If you are pregnant then let us know and we will not take your x rays.  Women who are pregnant or believe they may be pregnant should avoid all types of X-rays.

<br><br>

<b style="color:red"> How long the dental checkup lasts? </b>
<br><br>
As explained earlier, dental check up for a new patient will last 1 hr. We do not rush patients. Your cleaning, Exam and X rays will be taken and then the dentist will walk you through her findings and answer all your concerns and questions. Dr Samina is just very commited to patient satisfaction and your health and well being is her top priority, therefore she will take ample time to explain and answer all your questions.  Try her to see it first hand.
<br><br>

<b style="color:red"> How much will it cost? </b>
<br><br>
Usually preventative visits - cleaning exams and X rays are 100% covered by insurance in most instances. So if you have insurance, you will have zero out of pocket cost. In rare instances if its not covered, then our staff will happily verify your coverage and inform you before hand about your copayment.

<br><br>

</p>
</p>

<h4>
	<b style="color:red"> We would love to welcome you to our clinic</b>
<h4>


<br>
<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>
                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


