---
layout: default
title: Affordable dental Implant in Hackensack NJ | Cute Smile Dr Samina Kathawala Hackensack NJ 201 778 0225
description: What are Dental Implants? Do you need an Implant? Afforadble Implant.We serve Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Hackensack NJ Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="dental_implant" class="col-sm-8">

					<div id="crown" class="icon-box">
                        <h2 style="color:goldenrod"><B> Dental Implants</B></h2>



				<!-- <img src="{{ site.baseurl }}/img/carecredit.jpg" alt="treatment.title"> -->
<iframe allowtransparency="true" class="wistia_embed" frameborder="0" height="426" name="wistia_embed" scrolling="no" src="https://player.vimeo.com/video/109457713" width="100%" height="426"></iframe>



<h2 style="color:black">What is a Dental Implant</h2>
<h4><p class="text-justify">

Think of your tooth as a tree. Just like trees, your teeth also has roots and these roots cling on to the jaw bone, just like tree roots cling on to the soil. 

When you replace your tooth with an implant, you have to first provide the root that can hold on to the jaw. The implant serves as the root. Its a titaium screw that is embedded into your jaw bone. An implant is usually placed surgically into your bone and over time its assimilates into your bone via a process called osseointegration. <a title="Dental Implants" href="https://en.wikipedia.org/wiki/Osseointegration" target="_blank">Read more about osseointegration on wikipedia</a> After it assimilates, you will feel as if the implant was a natural tooth and you can eat whatever you like. 
</h4>
<h2 style="color:black">When is an Implant required</h2>
<h4><p class="text-justify">
Implants are best suited to replace missing teeth. If you teeth were pulled or due to some medical condition if they were removed then you have few options. You can either replace them with a denture, a bridge or an implant. Implant usually costs more intially, but it pays back in every day comfort and  unlike dentures you dont have to worry about taking them out every night and clean them etc.. 
<br><br>	Once an implant is placed, the next step is to put an abutment. Abutments are the retainer on which an artifical tooth (abutment supported crown), will be placed. The abutment supported crown is custom fabricated for you and it will feel and act in every sense as a natural tooth. 
</p>
</p>
</h4>
<h2 style="color:black">How is implant placed (Implant Procedure) </h2>
<h4><p class="text-justify">
The implant team usually includes and implantologist who places the implant (the posts) into the patients mouth, and a general dentist who designs and fits the abutment and crown.Our office is fully equipped to place the implant, design and fit the abutment and crown.
<br><br>Once an implant is placed, the next step is to put an abutment. Abutments are the retainer on which an artifical tooth, which we call abutment supported crown, will be placed. The abutment supported crown is custom fabricated for you and it will feel and act in every sense as a natural tooth. 
<br><br>
On your first appointment, an X-ray will be taken to determine if you have enough jaw bone to hold the titanium posts (implant). <br><br> In some instances, if there is not sufficient bone than bone grafting may be required. <a title="Bone Graft for Implant" href="https://en.wikipedia.org/wiki/Bone_grafting" target="_blank">Read more about bone grafting here </a> Once this is one and implant has been successfully placed, the next step is to carefully take impression of your mouth and surrounding teeth. This is required to custom fabricate the abutment and the crown. 
</p>
</h4>
<h2 style="color:black">Is Old Age a Problem?
</h2>
<h4><p class="text-justify">
In our opinion its not. Whats more important is your health as oppose to age. If you are healthy enough to have your tooth extracted, then you are probably healthy enough to receive dental implants. Certain chronic diseases may contraindicate dental implant treatment. The dentist will determine if you are a candidate for dental implants after a careful evaluation of your dental and health history.
</p>
</p>
</h4>
<h2 style="color:black">How Will Dental Implants Affect My Life?

</h2>

<h4><p class="text-justify">
Dental implant-supported replacement teeth look, feel and function like natural teeth. This means that you can eat and drink whatever you choose. But most importantly, dental implants improve quality of life in a very concrete way. People who have felt embarrassed and worried because of their tooth problems are often overwhelmed by what new permanent teeth can do for their self-esteem.
</p>
</p>

</h4>

<h2 style="color:black">Is dental implant surgery painful?
</h2>

<h4><p class="text-justify">
Most people find dental implant surgery very easy to tolerate. Any post-operative discomfort can usually be managed with over-the-counter anti-inflammatory medication such as ibuprofen or OTC pain-relievers. Ice can also be helpful.
</p>
</p>

</h4>

<h2 style="color:black">Are dental implants expensive?
</h2>

<h4><p class="text-justify">
At the outset, implants are more expensive than other tooth-replacement methods such as dentures or bridgework. But they also last many years longer and in fact should never need replacement. So they offer the best, most cost-effective option when viewed as a long-term investment in your health, comfort and well-being.
</p>
</p>

</h4>

<h2 style="color:black">How do you care for dental implants?

</h2>

<h4><p class="text-justify">
They require exactly the same care as natural teeth: daily brushing and flossing, along with regular dental checkups and professional cleanings. Although implant teeth will never decay, the gum tissues around them can become inflamed or infected in the absence of good oral hygiene. Properly cared-for dental implants should last a lifetime.
</p>
</p>

</h4>

<h2 style="color:black">Can my body reject a dental implant?

</h2>

<h4><p class="text-justify">
Strictly speaking, implants can not be rejected because they contain no living cells or genetically coded material. The titanium of which they are made is completely biocompatible, and allergies are extremely rare. But an implant can fail to integrate with the jawbone if an infection develops in the absence of good oral hygiene, or if it is subjected to biting forces too soon. However, this is rare but does happen once in a while; do note that implants regularly achieve success rates in excess of 90%.
</p>
</p>

</h4>




<h3><p class="text-justify">Check out this Mayo Clinic article for more info on - 
<p class="text-justify"><a title="Dental Implants" href="https://www.mayoclinic.org/tests-procedures/dental-implant-surgery/about/pac-20384622" target="_blank">Dental Implants</a> 
</p></h3>





<br>
<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>
                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


