---
layout: default
title: Dental Emergency Hackensack NJ  - Toothache Tooth Pain Hackensack NJ
description: We are emergency dentist in Hackensack NJ. If you are having a tooth ache or severe pain then you do need dental emergency treatment. If you are hurt in a sports game, its usually a dental emergency. We provide emergency dental care and see patients same day. Call us to schedule an appointment. We serve Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

			               <h1>
				
				{% if site.contact.phone %}<strong style="color:black">Phone</strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{site.contact.phone }}"> {{site.contact.phone }}  </a>{% endif %} 
<br>
{% if site.contact.text %}<strong style="color:black">Text</strong> <a style="color:red" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a>{% endif %}<br>
</h1>

<p><b><a title="ADDRESS - 52 Summit Ave, Hackensack NJ" href="https://goo.gl/maps/LeK5jGvGLbCjhTha9" target="_blank">ADDRESS - 52 Summit Ave, Hackensack NJ </a></b> </br></p>


	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="Emergency-Dental-Visit" class="col-sm-8">

					<div id="chipped_teeth" class="icon-box">
                        <h2 style="color:goldenrod"><B>Emergency Dental Treatment</B><br>Hackensack NJ</h2>



				
<h2 style="color:black"></h2>
<h4><p class="text-justify">
You are having a severe tooth ache or you got hurt playing sport. Worry not, you can call our office <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %} and we will be happy to accomodate you same day for your emergency. <br><br>
Common causes of a dental emergency - 
<ul class="text-justify">
	<li>Abscessed teeth.<br><br>
	<li> Unbearable Toothache.<br><br>
	<li>Broken or fractured teeth. <br><br>  
	<li>Swelling and pain.<br><br>
	<li>A knocked out tooth.<br><br>
	<li>Broken crowns or fillings.<br><br>
	<li>Kids Dental issues such as baby tooth knocked out.<br><br>
	<li>Severe pain in the tooth.<br><br>
</ul> 
</p>

<h2 style="color:black">What is considered a Dental Emergency?</h2>
<h4><p class="text-justify">
Essentially, any dental problem that requires immediate attention in order to save a tooth,  or if you have ongoing tissue bleeding or severe pain, see a dentist, as it  is considered a dental emergency. A severe infection or abscess in the mouth can be life-threatening and should be dealt with immediately.
<br><br>
You can use over the counter pain reliver like orajel. In most instances these remedies will make you feel a little better. However dental pain is usually associated with a severe underlying problem. Those problems can only be identified and addressed by visiting a dentist.  Even if your pain stops temporarily it will come back. </p>

<h2 style="color:black">Will antibiotics stop tooth pain?</h2>
<h4><p class="text-justify">
When you have infection you will be prescribed antibiotics. Antibiotics will fight the infection and will reduce your inflammation. Overtime the gums around your tooth will return to normal and that's when the dentist will start your treatment. When you have infection in most instances local anesthesia is not effective therefore the first step is to overcome the infection. 
</p>

<h2 style="color:black">Reasons for needing dental emergency visit ?</h2>
<h4><p class="text-justify">
The ADA reports that the number one cause of dental emergency is getting hurt while playing. Even a backyard game of basketball can lead to someone damaging a tooth or someone knocking a player's tooth out. The same holds true for kids playing sports as well. While there are ways to protect yourself like wearing a mouth guard, a dental emergency is still possible. 
<br><br>
Second most important cause is severe tooth ache. Tooth ache is usually unbearable and when it strikes it will overwhelm you. 
<br><br>
Third most common cause is car accidents. You want realise until you are in an accident that the impact will knock out some or all of your teeth depending on the severity of the imapact. We usually see accident victims with trauma and many tooth fractured.  Just a strong blow to the steering wheel, in an accident will knock out your teeth. We are your Hackensack New jersey  Emergency dentist. Call us <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}and we will gladly take care of you.

</p>


<h2 style="color:black">Frequently asked questions (FAQ) about Emergency Dental Care</h2>

<h4><p class="text-justify">
<b style="color:red"> What should I do if my child's baby tooth is knocked out?</b>
<br><br>
Stay clam and call our office for a dental checkup. Childs tooth shall not be replaced into the socket as it will interfere with the developing tooth in side the gum. Most dental insurances cover childs dental treatment even if they are as young as 1 year old. So if you have insurance there may be little out of pocket cost. Its recommended that you visit a dentist if a baby's tooth is knocked out.
<br><br>

<b style="color:red"> What should I do if my child's permanent tooth is knocked out?</b>
<br><br>

Find the tooth and rinse it gently in cold water. Do not scrub or clean it with soap, use only water. If possible, replace the tooth in the socket immediately and hold it there with clean gauze or a wash cloth. 
<br><br>

If you cannot put the tooth back in the socket, place the tooth in a clean container with water. Get to the Emergency Dentist immediately. The faster you act, the better your chances of saving the tooth.
<br><br>

<b style="color:red"> What if my kid has tooth ache? </b>
<br><br>
We are a preferred kids dentist in hackensack. Dr Kathawala sees a lot of kids. In this unusual situation, call our office and we will try and accomodate you same day. When you arrive we will take your childs Xray to ascertain the root cause of the pain. From there the dentist will diagnose and provide you with the options and next steps. Usually the cause of a severe tooth ache is a badly decayed tooth thats irritating the nerves

<br><br>


<b style="color:red"> How much will it cost? </b>
<br><br>
Usually we charge a fixed fee of $79 for emergency visits. This will include the diagnosis. X Rays if needed will be extra. Our fee's are reasonable. And if you have insurance your visit may be fully or partly covered by insurance.  <br><br> Patient satisfaction is our top priority, try us and experience the difference.
<br><br>


<p class="text-justify">

<b style="color:red"> Definition of Emergency Dental Care Terminology</b>
<br><br>
<b style="color:black"> Facial Cellulitis
</b>
<br><br>
Facial cellulitis is a condition in which an infection from an abscess or plaque in the teeth causes pain and spreads throughout the face.

<br><br>
<b style="color:black"> Irreversible Pulpitis</b>
<br><br>

Irreversible pulpitis is when the pain in the tooth occurs spontaneously or continues to hurt after the patient removes the hot/cold substance that was causing pain. Normal pulpitis will cease hurting directly after removing what is causing the pain.

<br><br>

  

<b style="color:black"> Cysts  
</b>

<br><br>

Cysts are fluid-filled sacs that usually contains puss and can occur anywhere on the body. When its in your mouth it can be quite painful as your tongue may irritate it.

<br><br>





<b style="color:black"> Tooth Fracture
</b>

<br><br>

A tooth fracture is usually caused by an accidental blow to the face during a sports game, biting on something really hard, falling face first and more.

<br><br>

<b style="color:black"> Cosmetic Dentistry
</b>
<br><br>

Cosmetic dentistry is generally used to refer to any dental work that improves the appearance (though not necessarily the function) of a person's teeth, gums and/or bite. Smile Makeover is usually a cosmetic procedure which will rejuvenate your smile and build up your confidence.
<br><br>


<b style="color:black"> Vacuum Formed Mouthguard
</b>
<br><br>

An advanced mouth guard creation technique. Vacuum formed mouthguard involves customizing the mouthguard to match a mold of the individual patient's teeth for a PERFECT fit.
<br><br>


<b style="color:black">Dental Checkup
</b>
<br><br>

A dental checkup is an appointment that involves cleaning the teeth, identifying any signs of infection and removing said signs of infection at least once every six months in the office. Read more about it <a href="{{ site.baseurl }}/Dental_Checkup.html#Dental_Checkup">here</a>.

<br><br>

<b style="color:black"> Pericoronitis
</b>
<br><br>

Pericoronitis refers to the inflammation of the soft tissue surrounding the crown of a partially-erupted tooth.

<br><br>


<b style="color:black"> Third Molars
</b>
<br><br>

The third molars are also known as the wisdom teeth and typically require removal in order to prevent pain and other issues in the mouth.

<br><br>


<b style="color:black"> Abscess
</b>
<br><br>

A dental abscess is a pocket of pus the forms in the tooth root from a bacterial infection.

<br><br>
<b style="color:black"> Irreversible Pulpitis
</b>
<br><br>

    Irreversible pulpitis is when the pain in the tooth occurs spontaneously or continues to hurt even after the stimulus is removed such as hot or cold substance that was causing pain. Normal pulpitis will cease hurting directly after removing what is causing the pain.

<br><br>




<b style="color:black"> Dental Cleaning
</b>
<br><br>


    A dental Prophy or cleaning is a professional and detailed cleaning that involves the removal of plaque, calculus and stains from the teeth. Read more about it <a href="{{ site.baseurl }}/Dental_Cleaning.html#Dental_Cleaning">here</a>.


<br><br>


	

<b style="color:black"> Lateral Luxation
</b>
<br><br>


    Lateral luxation is the displacement of a tooth that moves it in the wrong direction while it is still attached to the gums.

<br><br>
<b style="color:black"> Tooth Fracture</b>
<br><br>
    A tooth fracture can result from multiple sources including an accidental blow to the face during a sports game, biting on something really hard, falling face first. It's recommended that you see your dentist soon after a dental fracture.  Dental Fractures may be quite painful.
<br><br>
<b style="color:black"> Facial Cellulitis</b>
<br><br>

    Facial cellulitis is a condition in which an infection from an abscess or plaque in the teeth causes pain and spreads throughout the face.

<br><br>

<!-- Block Punch line - START-->
<h4>
	<b style="color:red"> Preferred Metlife Dentist in Hackensack NJ. </b>
<h4>
<!-- Block Punch line - END -->


<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>

<!-- bottom border start -->
<br>
<hr style="border: 2px solid red;" />
<h6> Tags - 
	<b style="color:black"> Root Canal Saddle Brook NJ - Pediatric Dentist Rutherford NJ - Smile Makeover River Edge NJ - Toothache Paramus NJ  - Chipped Tooth Bergenfield NJ</b>
<h6>

<h6>
	<b style="color:red"> Crown Teaneck NJ | Denture Hasbrouck Heights NJ </b>
<br><br>	
<hr style="border: 2px solid red;" />

<h6>
<!-- bottom border end -->



                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


