---
layout: default
title: Dr Samina Kathawala DDS | Cute Smile Hackensack NJ 
---


<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: contain;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod">{{ site.hero.hero_title }}</h1>
				<p>{{ site.hero.hero_description }}</p> 
            </div>


			</div>
    </div>

    <div class="container-fluid">
	        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
		             <h1>
				
				{% if site.contact.phone %}<strong style="color:black">Phone</strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{site.contact.phone }}"> {{site.contact.phone }}  </a>{% endif %} 
<br>
{% if site.contact.text %}<strong style="color:black">Text </strong> <a style="color:red" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a>{% endif %}<br>
</h1>

				<p><b><a title="ADDRESS - 52 Summit Ave, Hackensack NJ" href="https://goo.gl/maps/LeK5jGvGLbCjhTha9" target="_blank">ADDRESS - 52 Summit Ave, Hackensack NJ </a></b> </br></p>

<!-- TODO YOUTUBE VIDEO EMBED			<h3>Welcome!</h3>	
<iframe  src="https://www.youtube.com/embed/8qvHQIJ4Y3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>						
-->
	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567 NO DASHES" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div> 
<!-- End Hero -->

	</div>





<!--- FK Link to additional pages		<a href="/test.html">TEST</a>  --> 

<div id="contact" class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact Us</h3>




<!-- Style to bold         <h5 style="color:white"> -->  <h3><ul>
            {% if site.contact.phone %}<li><strong style="color:white">Phone:</strong> <a style="color:white" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></li>{% endif %}<br>
{% if site.contact.text %}<li><strong style="color:white">Text:</strong> <a style="color:white" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a></li>{% endif %}<br>

			{% if site.contact.emergency %}<li><strong style="color:white">Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %}
            {% if site.contact.email %}<li><strong style="color:white">Email:</strong> <a style="color:white" href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></li>{% endif %}
        </ul> </h3>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Opening Hours <br><br>
		<table>
            <tbody>
                <tr>
                    <td>Mon – Thur</td> 
                    <td>{{ site.mon_thu }}</td>
                </tr>
				                <tr>
                </tr>

				<tr>
                    <td>Friday</td>
	                    <td>{{ site.friday }}</td>
                </tr>
				                <tr>
                </tr>

				<tr>
                    <td>Saturday</td>
                    <td>{{ site.saturday }}</td>
                </tr>
				                <tr>
                </tr>

				<tr>
                    <td>Sunday</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table> </h3>
    </div>
    <div class="col-sm-4">
<a class="scroll"  style="color:white"  href="#location">
		<svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>

		<h3>Location</h3>
            <h3><p>
				{{ site.contact.address }}</a>
			</p> </h3> 
    </div>
</div>
<!-- End 3 columns -->

<!-- End Our team -->

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
		<h2 class="section-title" style="color:gold">Reviews</h2> 
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
  <footer class="main-footer">
Please write a review by clicking on the links below. Let us know how we did? 
	<div class="container-fluid">
<ul class="social">
	<li><a style="color:red" target="_blank" href="https://search.google.com/local/writereview?placeid=ChIJAQDUxSD6wokRKoX5SQkWHXU"> Google Link</a></li>

	<li><a style="color:red" target="_blank" href="https://www.facebook.com/pg/Dr-Samina-Kathawala-325513541239783/reviews/?ref=page_internal
"> FaceBook Link</a></li>

	<li><a style="color:red" target="_blank" href="https://www.healthgrades.com/dentist/dr-samina-kathawala-g9dkw
"> HealthGrades Link</a></li>

	<li><a style="color:red" target="_blank" href="http://www.vitals.com/dentists/Dr_Samina_Kathawala
"> Vitals Link</a></li>

    </div>
</footer>
<!-- End Testimonials -->

<!-- Start Gallery --> 
<!-- TODO TURNED OFF
<div id="gallery" class="gallery">
        
    <h2 class="section-title" style="color:gold">Gallery</h2>

    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>

TODO TURNED OFF -->
<!-- End Gallery -->


<!-- Start Map -->
<!-- <div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>
<!-- End Map -->

<style>
    .google-maps {
        position: relative;
        padding-bottom: 55%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
		section-title{margin-bottom:60px;text-align:center;color:#d4aa00ff};

    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>

<div > <H4> <B></P></B> </H4>
<div id="location"  class="google-maps">
<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.365710364024!2d-74.06068088489864!3d40.88579207931327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2fa20c5d6d0e3%3A0x2d0bdc55167c07b3!2s52+Summit+Ave%2C+Hackensack%2C+NJ+07601!5e0!3m2!1sen!2sus!4v1541732154975" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
<iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAYwQ6KARRoMIlR8LInZKWvhj8G-QDhH-M&q=Dr+samina+kathawala+hackensack"  width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>




				
				</div>	<!-- Row ends here --> 


