---
layout: default
title: Porcelain Veneers | Cute Smile Dr Samina Kathawala Hackensack NJ 201 778 0225
description: Porcelain veneers will transform your smile. If you have space between your teeth, hate your smile and cannot afford an expensive smile makeover, then veeners may be the second best thing you can do to improve your smile.  Dr Samina Kathawala has completed 100's of veneer cases. She is a smile makeover  expert in both porcelain and resin Veneers. Call us for a consultation.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		
		</div>

        </div>
<div id="veeners" class="col-sm-8">

					<div id="veeners" class="icon-box">
                        <h2 style="color:goldenrod"><B> Porcelain Veneers</B></h2>
				<!-- <img src="{{ site.baseurl }}/img/carecredit.jpg" alt="treatment.title"> -->
<iframe allowtransparency="true" class="wistia_embed" frameborder="0" height="354" name="wistia_embed" scrolling="no" src="https://fast.wistia.net/embed/iframe/tjh1k5atcl?endVideoBehavior=reset&amp;playerColor=9c9c9c&amp;plugin%5Bcaptions-v1%5D%5BonByDefault%5D=false&amp;version=v1&amp;videoHeight=354&amp;videoWidth=630&amp;volumeControl=true" width="100%" height="426" frameborder="0" ></iframe></div>
                        
<h4><p class="text-justify">
If you have space between your teeth, hate your smile and cannot afford an expensive smile makeover, then veeners may be the second best thing you can do to improve your smile. You will be surprised by the results and will be amazed by your confidence boost. <br>A truly great smile will soar your confidence. 

</p>
<h2 style="color:black">What is a Veneer</h2>

<h4><p class="text-justify">	
	A Veneer by definition is a thin covering over another surface. In dentistry, a veneer is a wafer-thin layer of super-strong porcelain that convincingly substitutes for natural tooth enamel. When bonded to your teeth, veneers can create a natural-looking, beautiful new surface. That's because dental porcelain, like natural tooth enamel, is translucent and tough. Plus it want stain like tooth enamel does. <a title="Webmd veneer" href="https://www.webmd.com/oral-health/guide/veneers#1" target="_blank">Read more about it on webmd </a> 
<h4><p class="text-justify">	
	Recent years have brought remarkable advances in dental porcelain technology. These days, veneers can be made so thin that they can sometimes be bonded directly onto your existing tooth surface. 
</p></h4>
<img src="{{ site.baseurl }}/img/veneers-before-after.jpg" alt="dental-veneers-before-after">

<h2> Versatility of Porcelain Veneers</h2>
<h4><p class="text-justify">Veneers can be used to improve any of the following characteristics of your teeth:</p> </h4>
	<h4><li>	<b>Color - </b>Teeth can become stained by the foods and drinks we like, from smoking, and even normal aging. Veneers are available in numerous shades, from the most natural to the brightest Hollywood white.
	<br> <br>  
	<li>	<b>Size and Shape - </b>Teeth can become worn down from grinding habits, or may not have the shape or size you want to begin with. For example, some people consider rounder teeth more feminine and squarer teeth more masculine. Veneers can be shaped and sized in whichever way is most flattering to your face.
<br><br>
	<li>		<b>Alignment and Spacing - </b>Veneers can be used to close small gaps between teeth or make slight corrections in alignment while improving tooth color and shape.
<br><br>  
</ul> </p> </h4>


<h2>Limitations of Porcelain Veneers</h2>
<h4><p class="text-justify">	
	If you have significantly misaligned teeth or large gap's, then Veneer may not be the right solution. If you have lost a lot of tooth structure from decay or trauma or a particularly severe grinding habit, it might be better to restore your teeth with porcelain crowns that cover the entire tooth.</p></h4>
<h2>Creating a New Smile with Porcelain Veneers</h2>
<h4><p class="text-justify">	
	The first step in creating a new smile with porcelain veneers is to communicate exactly what you don't like about your smile and what you don't like. Its a great idea to bring in pictures of smiles you do like, as a starting point for discussion. Its possible to see how veneers would look on your teeth in one of several ways. A model of your teeth can be created over which wax veneers can be placed; sometimes acrylic (plastic) or tooth-colored filling material can be placed directly onto your teeth to demonstrate the effect veneers would have on them</p> </h4>
<h4><p class="text-justify">	
	Once the plan has been agreed upon, your teeth will be prepared. Molds of your teeth will be taken and used by a skilled dental laboratory to create your veneers, and you will receive a temporary set of veneers to wear during the few weeks it will take to create your permanent veneers. When the veneers come back from the lab, they will be cemented onto your teeth.</p> </h4>
<h2>Caring for Your Veneers</h2>
<h4><p class="text-justify">Just like the teeth nature gave you, teeth restored with veneers need gentle brushing and flossing every day. This will remove dental plaque and ensure good gum tissue health around the veneers. Regular checkups at the dental office will remain as important as always to your oral and general health. And keep in mind that as tough as veneers are, they may not be able to withstand forces that come from using your teeth as tools (to open packages, for example) or biting into very hard foods like candy, apples etc. If you grind or clench your teeth at night, you might be advised to get a custom made night guard to protect your veneers and your investment.</p></h4>


<h2 style="color:black">Frequently asked questions (FAQ) about Pocelian Veneers</h2>

<h4><p class="text-justify">
<b style="color:red"> Am I a Candidate for Veneers? </b>
<br><br>
Usually the following scenarios can be addressed by veneers - 
our dentist may recommend porcelain veneers if you have a cosmetic dental concern that can be treated using veneers. These include:
<ul class="text-justify">
	<li>Tooth discolorations. <br><br>  
	<li>Chipped teeth.<br><br>
	<li>Cracked teeth. <br><br>  
	<li>Gaps between teeth.<br><br>
	<li>Misaligned teeth.<br><br>

</ul> 


<b style="color:red"> How long the procedure will take? </b>
<br><br>
Usually veneers treatment start with first understanding the patients needs and setting up an initial consultation. Once the dentist understand the needs and desires of the patient, a wax up will be developed. A wax up is a model that will quite literally tell/show the patient what the results will look. At this point the wax up will be fine tuned and then sent back to the lab for fabrication. Once the fabricated veneers are received, final placement will happen. <br><br> Usually three visits are required and if wax up is not desired than the whole procedure can be done in fewer visits. 
<br><br>

<b style="color:red"> How long will it last? </b>
<br><br>
Porcelain Veneers usually shall last a long time. As with all things, proper care and maintenance will greatly increase the longevity of the Veneers.
<br><br>

</p>
</p>




<h3>Check out this very informative cosmopolitan magazine article on Veeners.</h3>
<h3><a title="Cosmopolitan Article on Veeners" href="https://www.cosmopolitan.com/style-beauty/beauty/a13051650/what-are-veneers/" target="_blank">Cosmopolitan Article on Veeners</a> 
</h3>
<br>
<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</h3>
                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


