---
layout: default
title: Why Us - Highly Rated Dentist near me | Cute Smile Dr Samina Kathawala Dentist Hackensack NJ 201 778 0225
description: What makes our dental office unique? Read 100's of positive five star reviews that patient has left us. Check out our Yelp and Facebook pages. Why patient choose Dr. Samina Kathawala to be their trusted dentist in NJ. Read more... 
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/reviews.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
			               <h1>
				
				{% if site.contact.phone %}<strong style="color:black">Phone</strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{site.contact.phone }}"> {{site.contact.phone }}  </a>{% endif %} 
<br>
{% if site.contact.text %}<strong style="color:black">Text</strong> <a style="color:red" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a>{% endif %}<br>
</h1>

<p><b><a title="ADDRESS - 52 Summit Ave, Hackensack NJ" href="https://goo.gl/maps/LeK5jGvGLbCjhTha9" target="_blank">ADDRESS - 52 Summit Ave, Hackensack NJ </a></b> </br></p>


	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->

<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
		<h2 class="section-title" style="color:gold">Reviews</h2> 
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- Copy pasted reviews -->
<div id="whyus" class="whyus"> 
    <div class="container-fluid">
        <h2 class="section-title" style="color:gold">Reviews</h2>

        <div class="row">
                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been seeing Dr. Kathawala for half a decade. She is highly skilled and I know I can trust her to do things correctly. Other dentists have cut corners with the way they have taken care of my oral health, but Dr. Kathawala explains to me what needs to be done and why. She has a gentle touch. I am never in pain after seeing her. I am 100% satisfied with her service!  <br> <b>- Kristine Aguinaldo </b>
</B> </h3></p></div>
</div>

                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Amazingly friendly and helpful dentist. Always willing to answer any questions. She filled one cavity fours years back and to this day its holding up. Superb.. thank you Dr Samina.<br> <b>- Ajay Kamal</b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Doctor Samina is very friendly and a very nice person. She does a very good job and professional. She is very patient to explain everything to you. Her staff's all are as sweet as her.
<br> <b>- Asha</b>
</B> </h3></p></div>
</div>



</div>	<!-- Row ends here --> 
<div class="row">
<div class="col-sm-6 col-md-4">

<div class="icon-box">

                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I fell way behind in my dental cleanings and had not visited any dentist for a number of years.  I let Dr. Kathawala know at the start of my appointment, and she was very helpful in setting me at ease.  Throughout the exam and cleaning, she explained each step and was very aware of my comfort levels and overall experience. <br> <b>- Carl Sagar </b>
</B> </h3></p>

						
					</div>
</div>
                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been to a dentist but no one explained me the way Dr kathawala
Explained my mouth condition
I always have the gum problem ,she explained me what it is and how it can be treated, since that time onwards on every appointment she use to check my oral hygiene and explain again if I am not following what she explained.
My gums have improved a lot.
I have never seen a dentist who takes care of patient so much.
I would highly recommend her who really wants to take care of their teeth. And wants the right treatment<br> <b>- Shaikh Abdul Rehman</b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr. Samina Kathawala is professional and very thorough. She is always warm & welcoming, very attentive, and has a way with calming the nerves (no pun intended!) :) I would highly recommend her. <br> <b>- Collingswood</b>
</B> </h3></p></div>
</div>
</div><!-- Row ends here --> 
					<div class="row"><div class="col-sm-6 col-md-4">

					<div class="icon-box">

                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been taking my eleven year old to see Dr. Kathawala for over a year now. My kid has had very bad experiences with dentists before her. One dentist scraped her gums with a power cleaning tool during a cleaning (putting her in a lot of pain), another dentist would not give her enough pain killer for an extraction (causing her even more pain). So when we met Dr. Kathawala, my kid was nervous. Dr. Kathawala was very patient and took the time to calm my kid down and she actually respected her hand signals to stop drilling when it was too painful. I highly recommend this doctor. I started seeing her for myself after my child's visit. She is extremely professional and kind. <br> <b>- Calise Hawkins </b>
</B> </h3></p>

						
					</div>

		</div>		
		
		
		                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr. Samina Kathawala, has been my dentist for a long time. Since first appointment, she has been very nice, respectful, friendly, concerned, and above all, very professional and human, on her job, about the treatments and care of my dental health. She always takes her time and dedication to do her best, and I, personally, appreciate that, because it tells a lot, how professional and devoted a doctor is, with his/her patients. Thanks a lot, Dr. Samina, and thanks also, to the Horizon Health Clinic' personnel and medical staff. God bless you all..!!<br> <b>- Alex M. Gonzalez</b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Love Dr. Samina, she is so attentive, answers all questions upfront, explains and always shows the end result, you know you are in good hands when in her chair. No pain at all, she is very gentle. I'm a happy patient, would definitely recommend!. <br> <b>- Mardy Roman</b>
</B> </h3></p></div>
</div>

		
		
		
		
		</div>	<!-- Row ends here --> 

					<div class="row"><div class="col-sm-6 col-md-4">

					<div class="icon-box">

                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr Kathawala is awesome. She has a great personality as well as a professional excellence about her. She explains everything to you while she is doing it and makes you feel uncomfortable and at ease. I would recommend her to anyone that needs a great dentist. I am lucky that she is mine<br> <b>- Ray Manley</b>
</B> </h3></p>

						
					</div>

		</div>		
		
				                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been receiving dental care from Dr. Kathawala for a few years now. What I like about her is the professionalism, the care, the way I am kept informed about what is best for me and what the next step in my care. Dr Kathawala is warm, informative, and makes me feel at ease because of my dreaded fear of needles.

I would highly recommend her service to anyone that is looking for a dentist.<br> <b>- Ollie S Donaldson</b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been coming to Horizon Health for a little over 2 years now. Dr. Kathawala is the first dentist I have gotten treated from that does not make me want to run screaming. She is very sweet and super nice. Listens to you to ensure the least amount of pain during those pesky little cavity fill-in of mine. I wouldn't change her for the world. If you're looking for a new dentist I highly recommend her!<br> <b>- Katherine Bultron</b>
</B> </h3></p></div>
</div>

		
		
		</div>	<!-- Row ends here --> 

					<div class="row"><div class="col-sm-6 col-md-4">

					<div class="icon-box">

                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr. Kathawala is THE BEST DENTIST! I became her patient 5 years ago and from my very first appointment with her she has always catered to my needs, she always greets me with a smile and answers any questions I have. Dr. Kathawala is an amazing dentist and makes it her mission to leave me satisfied with her services everytime I have an appointment. I appreciate her so much that I travel from Queens to Bayonne every 6 months just for my dentist appointment. Dr. Kathawala is simply and TRULY the best!<br> <b>- C Spann</b>
</B> </h3></p>

						
					</div>

		</div>		
		
		
						                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been coming to Horizon Health for a little over 2 years now. Dr. Kathawala is the first dentist I have gotten treated from that does not make me want to run screaming. She is very sweet and super nice. Listens to you to ensure the least amount of pain during those pesky little cavity fill-in of mine. I wouldn't change her for the world. If you're looking for a new dentist I highly recommend her!<br> <b>- Katy P Withluv</b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr Samina Kathawala is excellent!! I highly recommend her. She listens to you very patiently and explains everything in detail.<br> <b>- Sabarish </b>
</B> </h3></p></div>
</div>

		
		</div>	<!-- Row ends here --> 

					<div class="row"><div class="col-sm-6 col-md-4">

					<div class="icon-box">

                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>My parents and I have been going to Dr.Samina for the past few years. Dr.Samina is a very caring dentist.She makes sure that you are comfortable during your treatment. She is also always willing to answer any questions you have  regarding your treatment. I would recommend her to anyone who is looking for a great dentist!<br> <b>- Summen Mushtaq</b>
</B> </h3></p>

						
					</div>

		</div>		
		
							                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr. Samina Kathawala, has a distinctive professional approach with her patients. Her kindness and personality makes you feel comfortable as she communicates with you.

Most people do not like visiting the dentist, but Dr. Kathawala has a way to make you feel at ease and comfortable upon your visit.

Dr. Kathawala let's you know exactly what's going on with your teeth, and the best professional solutions to resolve your problems.

I strongly recommend her professional services to anyone.<br> <b>- Richard Tank Greene</b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr. Kathawala is a wonderful dentist! She's been taking good care of my teeth for years! I greatly appreciate her professionalism, she's the best! I highly recommend her to anyone that's looking for a GREAT dentist! <br> <b>- Reginald Lanham </b>
</B> </h3></p></div>
</div>
	
		
		
		</div>	<!-- Row ends here --> 

					<div class="row"><div class="col-sm-6 col-md-4">

					<div class="icon-box">

                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr. Samina is very professional, friendly and approachable. She explains all facts very well. I also take my 3.5 year old daughter to her and my daughter did not feel a thing! I highly recommend her for adults and kids. Happy to have being treated by such a friendly doctor.<br> <b>- Geetanjali Sukhrani</b>
</B> </h3></p>

						
					</div>

		</div>		
		
								                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Where do I begin. She's awesome! She's the best dentist ever. She's a professional at her craft. I never had an issue. I wish there were more like her. I had a liver transplant a couple of years ago...what I liked the most about her she wanted to make sure I was cleared by my doctors before she began any work on me. I was so impressed.
I would highly recommend her to anyone that needs to see a dentist!<br> <b>- Reynaldo Bear</b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Excellent dentist who has performed multiple procedures on me. Very caring and excellent way of explaining procedures.<br> <b>- Chandrasekhar </b>
</B> </h3></p></div>
</div>
	
	
		
		</div>	<!-- Row ends here --> 

					<div class="row"><div class="col-sm-6 col-md-4">

					<div class="icon-box">

                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been going to Dr Kathawala for the last five years.  She is a sweet, competent dentist. 

She was the first dentist who explained to me what will be done, how it will be done and once the procedure was done she showed me in a mirror what she had done. Amazing.

Very rarely you come across a dentist who is so nice and treat you like family.

I will continue to go to her.  Prices as very reasonable compared to any dentist in the area.

Thank you.<br> <b>- Fin Yun</b>
</B> </h3></p>

						
					</div>

		</div>		
									                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been taking my eleven year old to see Dr. Kathawala for over a year now. My kid has had very bad experiences with dentists before her. One dentist scraped her gums with a power cleaning tool during a cleaning (putting her in a lot of pain), another dentist would not give her enough pain killer for an extraction (causing her even more pain). So when we met Dr. Kathawala, my kid was nervous. Dr. Kathawala was very patient and took the time to calm my kid down and she actually respected her hand signals to stop drilling when it was too painful. I highly recommend this doctor. I started seeing her for myself after my child's visit. She's extremely professional and kind and takes the time to clearly explain any problems you're having with your dental care.<br> <b>- Calise Hawkins</b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>I have been searching years for a quality dentist and always would fall for one that had no idea what they were doing. Once I met Dr Kathawala , that search was over. She is very welcoming and best of all gives you her honest advice as to what truly needs to be done. She has been my dentist for over 3 years and will never go anywhere else because she is true gem ! If you want a amazing dentist that gets the job done ,she's your dentist !! You will not regret it ! .<br> <b>- Elvia Gallardo</b>
</B> </h3></p></div>
</div>
	
		
		
		</div>	<!-- Row ends here --> 



					<div class="row"><div class="col-sm-6 col-md-4">

					<div class="icon-box">

                         <h3 style="color:red"> <B>Google Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Dr Kathawala from Horizon Health has been the best dentist I have ever met in my life. I have been going to her going more than 3 years and I feel so lucky to have her as my dentist. She is a honest ,professional and kind at heart. You will never experience your typical disconnected cold handed dentist once you meet her. I truly recommend her to everyone and trust me you will not regret it . Your search for a quality and amazing dentist will be over ,once you meet her . Guaranteed !!!<br> <b>- Elvia Gallardo</b>
</B> </h3></p>

						
					</div>

		</div>		
									                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:blue"> <B>Facebook Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>Love Dr. Samina, she is so attentive, answers all questions upfront, explains and always shows the end result, you know you are in good hands when in her chair. No pain at all, she is very gentle. I'm a happy patient, would definitely recommend!<br> <b>- Tatjana Sinkevica </b>
</B> </h3></p></div>
</div>


                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:green"> <B>Health Grades Reviewer </B></h3><img src="{{ site.baseurl }}/img/stars.svg" alt="reviews"><p class="text-justify" style="color:black"><h3>She is kind, sincere, loving. I get excited to go to she her & my kids do as well -  she is the best!<br> <b>- Gabrielle</b>
</B> </h3></p></div>
</div>
	
		
		
		</div>	<!-- Row ends here --> 





<!--  DO NOT EDIT BELOW THIS -->
<div id="whyus" class="whyus"> 
    <div class="container-fluid">
        <h2 class="section-title" style="color:gold">Don't believe us, click the links below to see what others are saying about us...</h2>

        <div class="row">
                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:red"> <B>Google Reviews </B></h3><img src="{{ site.baseurl }}/img/google_logo.JPG" alt="google_logo"><p class="text-justify" style="color:black"><h3><a style="" target="_blank" href="https://www.google.com/search?q=dr+samina+kathawala"> Click to See what others are saying about us on google. 
</a></B> </h3></p>
						</div>
					</div>
                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:red"> <B>Facebook Reviews </B></h3><img src="{{ site.baseurl }}/img/facebook_logo.JPG" alt="facebook_cute_smile_reviews"><p class="text-justify" style="color:black"><h3><a style="" target="_blank" href="https://www.facebook.com/pg/Dr-Samina-Kathawala-325513541239783/reviews/?ref=page_internal"> Click to  See what others are saying about us on facebook. 
</a></B> </h3></p>
						</div>
					</div>
                    <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                         <h3 style="color:red"> <B>Health Grades</B></h3><img src="{{ site.baseurl }}/img/healthgrades_logo.JPG" alt="healthgrades_cute_smile_reviews"><p class="text-justify" style="color:black"><h3><a style="" target="_blank" href="https://www.healthgrades.com/dentist/dr-samina-kathawala-g9dkw"> Click to  See what others are saying about us on HealthGrades.  <br><br>Health Grades is a premier site for health care professionals.
</a></B> </h3></p>
						</div>
					</div>

				</div>	<!-- Row ends here --> 


<div class="icon-box">
  <p class="text-justify"><h3>

Please write a review by clicking on the links below. Let us know how we did? 
	
	<div class="container-fluid">
</h3> <h3><ul class="social">
	<li><a style="color:red" target="_blank" href="https://www.google.com/search?q=google+review+dr+samina+kathawala&ie=utf-8&oe=utf-8#lrd=0x89c250d395fbbd05:0x9c1227bc60b3e181,3,"> Google Link</a></li>

	<li><a style="color:red" target="_blank" href="https://www.facebook.com/pg/Dr-Samina-Kathawala-325513541239783/reviews/?ref=page_internal
"> FaceBook Link</a></li>

	<li><a style="color:red" target="_blank" href="https://www.healthgrades.com/dentist/dr-samina-kathawala-g9dkw
"> HealthGrades Link</a></li>

	<li><a style="color:red" target="_blank" href="http://www.vitals.com/dentists/Dr_Samina_Kathawala
"> Vitals Link</a></li>
</ul></h3>
</div>
</p>
</div>