---
layout: default
title: Root Canal Endodontics Hackensack. Tooth Ache and Tooth pain usually requires a root canal. 
description: What is a root canal? Do you need root canal? Dr Kathawala is a top dentist for root canal in Hackensack. Call us to have your root canal done at affordable prices.Root We serve Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Hackensack Little Ferry NJ Ridgefield NJ  Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
			               <h1>
				
				{% if site.contact.phone %}<strong style="color:black">Phone</strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{site.contact.phone }}"> {{site.contact.phone }}  </a>{% endif %} 
<br>
{% if site.contact.text %}<strong style="color:black">Text</strong> <a style="color:red" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a>{% endif %}<br>
</h1>

				<p>We are located next to Hackensack Hospital on Summit Ave. <b><br>Address - 52 Summit Ave, Hackensack NJ 07601 </b> </br></p>


	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="root_canal" class="col-sm-8">

					<div id="root_canal" class="icon-box">
                        <h2 style="color:goldenrod"><B> Root Canal</B></h2>



				<!-- <img src="{{ site.baseurl }}/img/carecredit.jpg" alt="treatment.title"> -->

<iframe width="100%" height="426" src="https://www.youtube.com/embed/Z4GGCU8QfII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h2 style="color:black">What is a Root Canal</h2>
<h4><p class="text-justify">

Root canal is a treatment to repair and save a badly damaged or infected tooth instead of removing it. <br><br> 
<a title="Tooth Anatomy" href="https://en.wikipedia.org/wiki/Dental_anatomy" target="_blank"> Inside your tooth there are canals</a>, where most of the nerves are. The term "root canal" comes from cleaning of the canals inside a tooth's root. <br><br>Decades ago, root canal treatments werent common and tooth was usually pulled out. And removal of tooth has bad long term conseuqneces, which we will explain below. <br><br>With dental advances and local anesthetics, most people have little, if any pain with a root canal these days. In fact, it's probably more painful living with a decayed tooth then to have a root canal treatment done.<br><br>Root canal alternatives include extracting the damaged tooth and replacing it with a dental implant, bridge or removable partial denture. All of which is usually more expensive. Therefore its highly advised to have root canal done, as oppose to pulling the tooth.
</p>
</h4>

<h2 style="color:black">How is Root Canal Done?</h2>
<h4><p class="text-justify">
The root canal process generally begins the same way as a filling does, and with no greater discomfort: an anesthetic is administered to numb the tooth and the surrounding area. For many patients, the worst is already over.</p>
<p class="text-justify">
<img alt="after root canal" class="dd-right"  src="{{ site.baseurl }}/img/after-root-canal.jpg" >
</p>
<br>
<h4><p class="text-justify">

	Next, a small opening is made in the surface of the affected tooth to give access to the pulp chamber and root canals. Tiny instruments ( called files) are used, to remove the dead and dying pulp tissue from inside these narrow passageways. The chamber and empty canals are then cleaned, disinfected, and prepared to receive a filling of inert, biocompatible material. <br><br> Finally, adhesive cement is used to seal the opening in the tooth( core buildup) , preventing future infection.<a title="Dental Crowns" href="https://www.webmd.com/oral-health/guide/dental-root-canals#1" target="_blank">Check out webmd.com for more info</a></p>
</h4>


<h2 style="color:black">After root canal treatment</h2>
<h4><p class="text-justify">

	Following root canal treatment, your tooth may feel some sensitivity or tenderness for a few days. Over-the-counter pain relievers like ibuprofen are generally effective in relieving discomfort, but prescription medications may also be given if needed. <br><br>During this period, its best to avoid biting hard on the affected tooth. In a few days all these symptoms will go away as the tooth will heal.</p>
<p class="text-justify">
	To further protect the tooth and restore it to full function, it's usually recommended to have a <a href="{{ site.baseurl }}/Crown.html#crown">crown </a> placed on it.  <br><br>Restorations can take many forms, from traditional gold crowns to tooth replicas made of high-tech tooth-colored material. In any case, you will have made an investment in preserving your dental health for years to come.</p>
</h4>
<h3><p class="text-justify">Root Canal 
<p class="text-justify"><a title="Dental Crowns" href="https://www.aae.org/patients/root-canal-treatment/what-is-a-root-canal/" target="_blank">More info</a> 
</p></h3>



<h2 style="color:black">Frequently asked questions (FAQ) about Root Canal</h2>

<h4><p class="text-justify">
<b style="color:red"> Do I need a root canal?</b>
<br><br>
If your tooth hurts and you feel that you need a root canal see a dentist. Usually a tooth could hurt for several reasons, including:
<ul class="text-justify">
	<li>    Food is stuck in between your teeth or in between the ridges on the chewing surfaces of your teeth.
<br><br>  
	<li>Tooth  cavity.<br><br>
	<li>Cracked teeth. <br><br>  
	<li>Chipped tooth.<br><br>
	<li>Or your tooth is suffering from enamel erosion.

</ul> 
</p>
<p class="text-justify">

In such scenarios, the tooth can be treated and your pain can be relieved with a root canal treatment. All these options will reduce your out of pocket cost and will also be lot quicker to do, then a root canal.  However if you have severe decay in your tooth and you have not seen a dentist for a long time then usually those situations are dire and you will end up in a root canal.

<br><br>
</p>
<p class="text-justify">

<b style="color:red"> Do I need a post and core after the root canal? </b>
<br><br>
A post and core crown is a type of dental restoration required where there is an inadequate amount of sound tooth tissue remaining, and is usually required after a rot canal treatment. The post is retained within the hollow tooth surface to give strength to the tooth. Usually a post is cemented into a prepared root canal, which retains a core restoration. And this resoration will eventually support the crown. 
<br><br>

<b style="color:red"> Will I have pain after the root canal? </b>
<br><br>
While a root canal procedure is a major procedure and some pain or discomfort shall be expected. However we take utmost care while performing these procedures and try to do it gently. Usually most patients compliment on their next visit that they had no pain and felt fine after the procedure. In some instances pain reliver can be prescribed to alleviate the pain. 
<br><br>

<b style="color:red"> How can I avoid the need for root canal treatment in the future?</b>
<br><br>
Keep your teeth decay-free by brushing and flossing every day. Eat a healthy diet low in sugar and avoid acidic beverages such as soda. Visit the dentist for professional cleanings every six months. And if you are active in sports, consider ordering a custom-made mouthguard to protect your teeth from injury.
</p>
<br><br>
<p class="text-justify">

<b style="color:red"> Definition of Endodontics Terminology</b>
<br><br>
<b style="color:black"> Dental Pulp
</b>
<br><br>

    Dental pulp is the inner-most layer of the tooth. Its the connective tissue that contains blood vessels and nerve's.
<br><br>

<b style="color:black"> Enamel
</b>
<br><br>

    The enamel is the hard calcified layer that covers the entire tooth.

<br><br>
<b style="color:black"> Endodontist - Root Canal Dentist
</b>
<br><br>


    An endodontist is a specialist who focuses on treating issues, diseases and conditions that affect the inner-most layer of the tooth, the dental pulp.  

<br><br>
<b style="color:black"> Pulpectomy
</b>
<br><br>


A pulpectomy is a procedure that involves the complete removal of pulp tissue from the root canal in a tooth.

<br><br>
<b style="color:black"> Alveolar Bone </b>
<br><br>
    The alveolar bone is the bone surrounding the root of the tooth that keeps the tooth in place.

<br><br>
<b style="color:black"> Pulpitis </b>
<br><br>

    Pulpitis is another term to describe the inflammation of the dental pulp. Its usually  due to an injury in most instances due to infection.


<br><br>
<b style="color:black"> Pulpotomy
</b>
<br><br>

    A pulpotomy is a procedure involving the removal of a portion of diseased or infected pulp in order to protect the healthy portions of the pulp.
<br><br>


<h4>
	<b style="color:red"> We would love to welcome you to our clinic</b>
<h4>




<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>
                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


