---
layout: default
title: Root Canal
description: What is a root canal? Do you need root canal? Dr Kathawalas has done 100's of successful root canal procedures. Call us to have root canal done at affordable prices.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="root_canal" class="col-sm-8">

					<div id="root_canal" class="icon-box">
                        <h2 style="color:goldenrod"><B> Root Canal</B></h2>



				<!-- <img src="{{ site.baseurl }}/img/carecredit.jpg" alt="treatment.title"> -->

<iframe width="100%" height="426" src="https://www.youtube.com/embed/Z4GGCU8QfII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h2 style="color:black">What is a Root Canal</h2>
<h4><p class="text-justify">

Root canal is a treatment to repair and save a badly damaged or infected tooth instead of removing it. <br><br> 
<a title="Tooth Anatomy" href="https://en.wikipedia.org/wiki/Dental_anatomy" target="_blank"> Inside your tooth there are canals</a>, where most of the nerves are. The term "root canal" comes from cleaning of the canals inside a tooth's root. <br><br>Decades ago, root canal treatments werent common and tooth was usually pulled out. And removal of tooth has bad long term conseuqneces, which we will explain below. <br><br>With dental advances and local anesthetics, most people have little, if any pain with a root canal these days. In fact, it's probably more painful living with a decayed tooth then to have a root canal treatment done.<br><br>Root canal alternatives include extracting the damaged tooth and replacing it with a dental implant, bridge or removable partial denture. All of which is usually more expensive. Therefore its highly advised to have root canal done, as oppose to pulling the tooth.
</p>
</h4>

<h2 style="color:black">How is Root Canal Done?</h2>
<h4><p class="text-justify">
The root canal process generally begins the same way as a filling does, and with no greater discomfort: an anesthetic is administered to numb the tooth and the surrounding area. For many patients, the worst is already over.</p>
<p class="text-justify">
<img alt="Visual - after root canal" class="dd-right"  src="{{ site.baseurl }}/img/after-root-canal.jpg" >
</p>
<br>
<h4><p class="text-justify">

	Next, a small opening is made in the surface of the affected tooth to give access to the pulp chamber and root canals. Tiny instruments ( called files) are used, to remove the dead and dying pulp tissue from inside these narrow passageways. The chamber and empty canals are then cleaned, disinfected, and prepared to receive a filling of inert, biocompatible material. <br><br> Finally, adhesive cement is used to seal the opening in the tooth( core buildup) , preventing future infection.<a title="Dental Crowns" href="https://www.webmd.com/oral-health/guide/dental-root-canals#1" target="_blank">Check out webmd.com for more info</a></p>
</h4>


<h2 style="color:black">After root canal treatment</h2>
<h4><p class="text-justify">

	Following root canal treatment, your tooth may feel some sensitivity or tenderness for a few days. Over-the-counter pain relievers like ibuprofen are generally effective in relieving discomfort, but prescription medications may also be given if needed. <br><br>During this period, its best to avoid biting hard on the affected tooth. In a few days all these symptoms will go away as the tooth will heal.</p>
<p class="text-justify">
	To further protect the tooth and restore it to full function, it's usually recommended to have a <a href="{{ site.baseurl }}/Crown.html#crown">crown </a> placed on it.  <br><br>Restorations can take many forms, from traditional gold crowns to tooth replicas made of high-tech tooth-colored material. In any case, you will have made an investment in preserving your dental health for years to come.</p>
<h3><p class="text-justify">Root Canal 
<p class="text-justify"><a title="Dental Crowns" href="https://www.aae.org/patients/root-canal-treatment/what-is-a-root-canal/" target="_blank">More info</a> 
</p></h3>

<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>
                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


