---
layout: default
title: Dental Coupons | Low Affordable Prices | Cute Smile Dr Samina Kathawala Hackensack NJ 201 778 0225
description: Check out our teeth whitening, cleaning, Root Canal, Denture offers and promotions that we offer here at Cute Smile in Hackensack to make your dental care more affordable. We serve Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Hackensack NJ Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/specials.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
			               <h1>
				
				{% if site.contact.phone %}<strong style="color:black">Phone</strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{site.contact.phone }}"> {{site.contact.phone }}  </a>{% endif %} 
<br>
{% if site.contact.text %}<strong style="color:black">Text</strong> <a style="color:red" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a>{% endif %}<br>
</h1>

<p><b><a title="ADDRESS - 52 Summit Ave, Hackensack NJ" href="https://goo.gl/maps/LeK5jGvGLbCjhTha9" target="_blank">ADDRESS - 52 Summit Ave, Hackensack NJ </a></b> </br></p>


	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

                    <div class="col-xs-6" ><span class="border border-warning">
					<div class="icon-box"><h2>Competitive Price Match!</h2>
						<img src="{{ site.baseurl }}/img/stars.svg" alt="Competitive Price Match">
					</div>

					<div class="content">

						<p class="text-justify"><h3>Give us a chance to prove we are the best dental practice for you and your family. <br><br>We will do our best to match any price you may have received from another dentist.<br><br> We will gladly provide a second opinion, call our office to setup a consultation.</p>
<p><strong><br>We promise to match all reasonable offers!</em></strong><h3></p>
					</div>
					 </div>


                    <div class="col-xs-6" ><span class="border border-warning">
					<div class="icon-box"><h2>FREE Veneer Consultation</h2>
						<img src="{{ site.baseurl }}/img/stars.svg" alt="Competitive Price Match>
					</div>

					<div class="content">

						<p class="text-justify"><h3>If you are looking to wow yourself by getting a smile of a lifetime, give us a call. <br><br>Dr Kathawala has helped 100's patients with lasting smile makeover.  <br><br>Besides her clinical excellence, she has an artistic eye and skillful hands, to bring your dreams alive.<br><br>Call her for a free second opinion if you are looking to do porcelain or resin Veneers.  <a href="{{ site.baseurl }}/Porcelain_Veneers.html#veeners">Read more about Veneers  in our treatment section.</a></p>
					</div>
					 </div>
</div>
</div>

</div>
</div>

<p>
<div id="specials" class="whyus"> 

    <div class="container-fluid">
        <h2 class="section-title" style="color:gold">Coupons</h2> 

        <div class="row">
<!--                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                         <h4 style="color:darkturquoise" > <B> NEW PATIENT SPECIAL </B><p></p><br><p style="color:black"> <b>$49 - First Visit Comprehensive exam, Includes 2 X-Rays </b><i> <br><br>a $169 value...cannot be combined with any other offer, bring coupon or show on your phone, cash only, no credit or debit cards</i><br><br>Expires 3/31/2020
						</div>
						</div>
-->
					<div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                         <h4 style="color:darkturquoise"> <B> TEETH WHITENING </B><p></p><br><p style="color:black"> <b>$298 - In office teeth whitening. </b><i> <br><br>a $449 value...cannot be combined with any other offer, bring coupon or show on your phone, cash only, no credit or debit cards</i><br><br>Expires 3/31/2020
						</div>
						</div>

					<div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                         <h4 style="color:darkturquoise"> <B> EMERGENCY EXAM </B><p></p><br><p style="color:black"> <b>$79 - Same Day appointment, includes 1 X-Ray. </b><i> <br><br>a $149 value...cannot be combined with any other offer, bring coupon or show on your phone, cash only, no credit or debit cards</i><br><br>Expires 3/31/2020

						</div>
						</div>

                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                         <h4 style="color:darkturquoise"> <B> NEW PATIENT CLEANING </B><p></p><br><p style="color:black"> <b>$125 - New patient comprehensive exam plus Cleaning and Full Mouth X ray.</b><i> <br><br>a $289 value...cannot be combined with any other offer, bring coupon or show on your phone, cash only, no credit or debit cards</i><br><br>Expires 3/31/2020

						</div>
						</div>


                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                         <h4 style="color:darkturquoise"> <B> CROWNS </B><p></p><br><p style="color:black"> <b>$849 - Crown - from top rated labs. </b><i> <br><br>a $1287 value...cannot be combined with any other offer, bring coupon or show on your phone, cash only, no credit or debit cards</i><br><br>Expires 3/31/2020

						</div>
						</div>

                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                         <h4 style="color:darkturquoise"> <B> KIDS COMPREHENSIVE EXAM  </B><p></p><br><p style="color:black"> <b>$84 - First Visit Comprehensive exam, Includes 2 X-Rays </b><i> <br><br>a $139 value...cannot be combined with any other offer, bring coupon or show on your phone, cash only, no credit or debit cards</i><br><br>Expires 3/31/2020
						
						</div>
						</div>
				
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                         <h4 style="color:darkturquoise"> <B> KIDS CLEANING </B><p></p><br><p style="color:black"> <b>$125 - Kids comprehensive exam plus Cleaning and Full Mouth X ray.</b><i> <br><br>a $269 value...cannot be combined with any other offer, bring coupon or show on your phone, cash only, no credit or debit cards</i><br><br>Expires 3/31/2020

						</div>
						</div>
<!-- End of all promotions -->
				</div>	
				</div>
</div>
