---
layout: default
title: Teeth Whitening | Cute Smile Dr Samina Kathawala Hackensack NJ 201 778 0225
description: Teeth whitening will brighten your smile. Daily you eat different foods, drink different beverages; all of which constantly stain your teeth. Overtime your teeth are not as shiny white as your would like them to be. We serve Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Hackensack NJ Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
			               <h1>
				
				{% if site.contact.phone %}<strong style="color:black">Phone</strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{site.contact.phone }}"> {{site.contact.phone }}  </a>{% endif %} 
<br>
{% if site.contact.text %}<strong style="color:black">Text</strong> <a style="color:red" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a>{% endif %}<br>
</h1>

				<p>We are located next to Hackensack Hospital on Summit Ave. <b><br>Address - 52 Summit Ave, Hackensack NJ 07601 </b> </br></p>


	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="whitening" class="col-sm-8">

					<div id="whitening" class="icon-box">
                        <h2 style="color:goldenrod"><B> Teeth Whitening</B></h2>
				<!-- <img src="{{ site.baseurl }}/img/carecredit.jpg" alt="treatment.title"> -->
                        
<iframe allowtransparency="true" class="wistia_embed" frameborder="0" height="354" name="wistia_embed" scrolling="no" src="https://fast.wistia.net/embed/iframe/yl4hd8wtjn?endVideoBehavior=reset&amp;playerColor=9c9c9c&amp;plugin%5Bcaptions-v1%5D%5BonByDefault%5D=false&amp;version=v1&amp;videoHeight=354&amp;videoWidth=630&amp;volumeControl=true" width="100%" height="426" frameborder="0" ></iframe></div>
<h4><p class="text-justify">
	Daily you eat different foods, drink different beverages; all of which constantly stain your teeth. Overtime your teeth are not as shiny white as your would like them to be. Fortunately, help is available at the dental office. To learn more about teeth whitening <a title="Teeth Whitening" href="https://en.wikipedia.org/wiki/Tooth_whitening" target="_blank">check out this wikipedia article</a>  
<br>
	<img class="img-fluid" alt="before-after-teeth-whitening" src="{{ site.baseurl }}/img/before-after-teeth-whitening.jpg" />
</p>
<h4><p class="text-justify">	Teeth whitening done in a professional dental setting is a safe, effective way to brighten your smile. It's also the MOST cost affective cosmetic dental procedure. 
</p><h4><p class="text-justify">	
Depending on the whitening method you choose, results can be dramatic: in-office whitening, for example, can lighten teeth three to eight shades in a single hour.</p>
</p><h4><p class="text-justify">	
	Professionally supervised whitening will work faster, and protect sensitive gums and tooth-root surfaces better, than over-the-counter whitening products. Having an oral exam before you begin any whitening process is an important first step to make sure your tooth discoloration is not the result of a dental condition in need of treatment. </p><h4><p class="text-justify">	<i>Also, please be aware that it can be risky to have whitening solutions applied to your teeth by untrained personnel in shopping malls. Though these professionals may be trained in applying the whitening product, they lack the understanding of tooth and gum biology, and may cause long lasting damage. </i> </p><h4><p class="text-justify">	If you have any questions about which whitening method would be best for you, talk to us.</p>
<h2>
	Professional Whitening Methods</h2>
</p><h4><p class="text-justify">	
	Professional whitening makes use of high-concentration (clinically tested and certified) bleaching gels that are not available over the counter.</p>
<ul>
	<li>
		<strong>In-Office Whitening</strong> </p><h4><p class="text-justify">	This technique offers the fastest results with the most powerful whitening solutions available. First, your gums and tooth-root surfaces will be covered with a protective barrier to ensure your safety. A thin plastic device known as a retractor will hold your lips and cheeks away from your teeth as a professional-strength hydrogen peroxide gel is applied. The gel will be left on for about an hour. When it is removed, the results will be obvious immediately.</li>
	<li>
		<strong>Take-Home Whitening</strong> </p><h4><p class="text-justify">	This is another effective way to whiten your teeth, though you will play a greater role in ensuring the best possible results and several weeks may be needed to achieve your desired level of whiteness. First, a mold of your teeth will be taken and then two thin, flexible plastic mouth trays will be custom-made for you &mdash; one for the top teeth and one for the bottom. You will fill the trays with whitening gel and then position the trays over your teeth. The trays are left in usually for about an hour at a time.</li>
</ul>
<h2>
	Caring for Your Whitened Smile</h2>
<p>
</p><h4><p class="text-justify">	There are lots of things you can do to make sure your whitening results last as long as possible, and this will vary from person to person (six months to two years or even longer). <br><br>First of all, please maintain your usual, conscientious routine of brushing and flossing every day, and keep up with your regular schedule of professional cleanings at the dental office. <br><br>Avoid foods and beverages that stain, including red wine, tea and coffee. <br><br>If you smoke, use your newly whitened teeth as a reason to quite smoking; <br><br> A minor touch-up every 12 months or so at the dental office, can keep your smile bright and beautiful for years to come.</p>
<h4><p class="text-justify">
<h2>Side effects</h2>
<h4><p class="text-justify">For a few days after treatment, your teeth may be sensitive to very hot or cold temperatures. Whitening may also irritate the gums for a short time. If the side effects do not go away after a few days, see your dentist.</p>
<h4><p class="text-justify"> To avoid harming your teeth and gums, always follow the product directions and any instructions from your dentist. If your teeth become very sensitive or you get sores in your mouth, stop using in-home products and call your dentist.</p>
<h4><p class="text-justify">There is such a thing as too much whitening. Do not use whitening products for longer than advised in the product directions or by your dentist. Over whitening can cause severe discomfort to your teeth and gums. Too much whitening can even harm your tooth enamel.</p>

<h2>Its not for everyone</h2>
<h4><p class="text-justify">Tooth whitening is not a good choice for all people. If you have tooth decay or gum disease, your dentist may recommend that these be treated before whitening. </p>
<h4><p class="text-justify">So talk to your dentist about teeth whitening before you begin. He or she will do an oral exam to find out if teeth whitening is right for you.</p>
</h4>
<!-- Definitions of Dental Terms --->
<h4><p class="text-justify">
<p class="text-justify">

<b style="color:red"> Definition of Cosmetic Dentistry Terminology</b>
<br><br>
<b style="color:black"> Allograft
</b>
<br><br>

     An allograft is a graft of tissue from a donor within the same species as the patient that is not a genetic relative.
<br><br>

<b style="color:black"> Bleachorexia
</b>
<br><br>

     Bleachorexia is when people continue to abuse teeth whitening solutions without consulting professionals, causing significant damage to their enamel and gums in the process.

<br><br>
<b style="color:black"> Autograft
</b>
<br><br>


   An autograft is a graft of tissue from one portion of an individual's body to another.
</h4>
<!--definitions ends here -->

<h3>Check out this ADA article on teeth whitening for more info.</h3>
<h3><a title="ADA Teeth Whitening" href="https://www.mouthhealthy.org/en/az-topics/w/whitening" target="_blank">ADA article</a> 
</h3>

<br>

<br>
<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</h3>


                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


