---
layout: default
title: Wisdom teeth Extraction in Hackensack NJ
description: What are wisdom teeth? You mouth has molar teeth; and wisdom teeth are the third and final set of molars that may or may not be visible.Most people get them in their late teens or early twenties. Many times they may not have erupted and may be impacted. We do wisdom teeth extraction at our hackensack NJ clinic. Call us to schedule an appointment. We serve Summit Ave Hackensack NJ Lodi NJ Hasbrouck Heights NJ River Edge NJ Teaneck NJ Maywood NJ Paramus NJ Carlstadt NJ East Rutherford NJ South Wood Ridge NJ Wood-ridge NJ.
---

<div class="hero" style="background: url('{{ site.baseurl }}/img/dentaltreatments2.JPG') no-repeat; background-size: cover;">
	<div class="hero-content">
	<div class="container-fluid">
            <div class="hero-content-inner">

                <h1 style="color:goldenrod"></h1>
            </div>
	</div>
    </div>
    
	<div class="container-fluid">
              <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">

			               <h1>
				
				{% if site.contact.phone %}<strong style="color:black">Phone</strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{site.contact.phone }}"> {{site.contact.phone }}  </a>{% endif %} 
<br>
{% if site.contact.text %}<strong style="color:black">Text</strong> <a style="color:red" href="sms:{{ site.contact.text }}" title="{{ site.contact.text }}" > {{ site.contact.text}}  </a>{% endif %}<br>
</h1>

<p><b><a title="ADDRESS - 52 Summit Ave, Hackensack NJ" href="https://goo.gl/maps/LeK5jGvGLbCjhTha9" target="_blank">ADDRESS - 52 Summit Ave, Hackensack NJ </a></b> </br></p>


	<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Schedule an Appointment</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="message" type="text" placeholder="Full Name ( First and Last Name)" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  maxlength="11" placeholder=" 10 Digit Phone Number ex. 2011234567" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="messages" placeholder="Please provide your full name, and date and time of appointment requested.Provide a phone number where we can text you the confirmation." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>


			</div>

    </div>
</div>

<!-- Start About -->


<div class="about">
    <div class="container-fluid">
     
	
		<div class="row">

			<div class="col-sm-4">
                <div class="media">
{% include Dental_Treatments_Side_Bar.html %}		</div>

        </div>
<div id="wisdom-teeth-extraction" class="col-sm-8">


					<div id="chipped_teeth" class="icon-box">
                        <h2 style="color:goldenrod"><B>Wisdom Teeth Extraction </B><br>Hackensack NJ</h2>



				
<h2 style="color:black">What are wisdom teeth?</h2>
<h4><p class="text-justify">
You mouth has molar teeth, the big tooth's in the back; and wisdom tooth are further back and in dental terminology they are the third and final set of molars. They may or may not be visible.Most people get them in their late teens or early twenties. Many times they may not have erupted and may be impacted. By impacted I mean they are still within your jaw and have not erupted and may not be visible to a naked eye.<br> 

<h2 style="color:black">Do I need to get my wisdom tooth extracted?</h2>
<h4><p class="text-justify">
You may need your wisdom teeth extracted at some point in your life. Think of wisdom teeth as the unwanted teeth that are crowding in your mouth and may push other teeth forward thereby creating a space for food to become trapped; it can also increase your risk of infection and decay. This is why it's often recommend that wisdom teeth be removed. In many instances if you are planning on getting braces or Invisalign you will be required to get your wisdom tooth removed. IF you are having sinus pain or congetion, it may be because of your wisdom teeth. Inflammed gums around your wisdom teeth may swell and will be hard to ckeep them clean leading to cavities and decay.  
</p>

<h2 style="color:black">Does everyone have wisdom teeth?</h2>
<h4><p class="text-justify">
In most instances everyone will have wisdom teeth. Some people may have many wisdom teeth and others may have very few. Your genetics and the make up of your jaw contributes to the number of wisdom teeth you may have. 
</p>

<h2 style="color:black">Are wisdom teeth bad?</h2>
<h4><p class="text-justify">
There is no way to say definitively whether having wisdom teeth is good or bad. However in most instances, wisdom teeth will cause damage to nearby teeth, they are also usually hard to clean and therefore more vulnerable to decay. In other instances, impacted wisdom teeth may cause no apparent or immediate problems. Therefore its recommended you see a dentist and get an opinion. If you like call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}our office and setup a consultation. Dr Kathawala routinely see patients with wisdom teeth concern and will be happy to give you an honest opinion.</p>

<h2 style="color:black">Will and Can wisdom tooth grow back?</h2>
<h4><p class="text-justify">
Wisdom teeth will not grow back once they are removed. However it is possible for a patient to have supernumerary (extra) teeth, also known as hyperdontia. Supernumerary teeth can occur anywhere in the mouth, from incisors to canines to molars.
</p>


<h2 style="color:black">Frequently asked questions (FAQ) about Wisdom Tooth Extraction</h2>

<h4><p class="text-justify">
<b style="color:red"> How is wisdom tooth extracted?</b>
<br><br>
Like any extraction the dentist will numb you and do an extraction. However removal of wisdom tooth is much more complicated than simple extraction. How they are removed will be based on their current location and whether or not they are impacted.
<br><br>

<b style="color:red"> Step by Step  - Wisdom Tooth Extraction Procedure  </b>
<br><br>

First, you will receive anesthesia to numb the area. <br><br>
Depending on how your wisdom tooth are, the procedure will vary. <br><br>
If the wisdom tooth are straight, removing them will be similar to an extraction. The dentist will use the usual tools and extract your teeth. Most likely, no surgery would be required. <br><br>
However, if your teeth are impacted, the procedure requires oral surgery. In order to access the actual tooth, the gum tissue covering it will need to be surgically opened. After numbing the area, a flap will be created in the gum tissue. This allows the dentist to view the tooth. If muscle or bone is covering it, that will also need to be opened to provide access to the actual tooth. The dentist will then simply grab it and extract it. If, however, it does not budge when being wiggled, then the actual tooth will need to be broken into several pieces for it to be extracted. <br><br>Dr Samina is very gentle and while all this sound a bit scary, you will not even realize when its all set and done. Most of our patients are anxious before the procedure and are surprised when they are told its all done and they can go home. <br><br>
Once the tooth has been entirely removed, the area will need to be carefully cleaned. Afterward, the flap of gum tissue will be sutured back in place. The dentist will then place gauze on the area to comfort you and also stop the bleeding.

<br><br>

<b style="color:red"> Do I need to take any precautions after the extraction? </b>
<br><br>
We usually recommend that your plan ahead. After the extraction you will be monitored at our clinic to ensure that any bleeding has slowed and that the gauze is working sufficiently. So long as it is, you will be sent home to finish your recovery. Just make sure you have someone pick you up; you do not need to drive home on your own.<br><br>

Once you reach home plan to take some rest. Rest on your bed with plenty of pillows to prop up your head. Drink lot of water, and have additional gauze, ibuprofen, and some good books or movies at hand. <br><br>

Plan on taking it easy for the next 48 hours. During that time, you may want to eat a lot of soft foods such as ice cream, yogurt and other foods that are soft and do not require chewing. You will be too sore to try and eat anything else. <br><br>

To help control the swelling, you should ice your face for 15 minutes at a time and take ibuprofen around the clock. This should be done for 24 to 48 hours. Afterward, you may still need some ibuprofen, but icing may no longer be necessary.<br><br>

Gradually, you will be able to add in solid foods and begin to eat like normal. The key is to take it easy and not rush the process. Slowly add soft foods that are easy to chew and work your way up to dining at your favorite Hackensack restaurant. It may take up to two weeks to be 100 percent back to normal, so during this time, be sure to avoid any nuts, chips, or foods that could crunch and scratch your gum tissue. Also avoid any sticky candies.
You will need to schedule a follow-up visit with the dentist who performed the procedure to ensure that you are healing properly. 
<br><br>

<b style="color:red"> How much will it cost? </b>
<br><br>
While wisdom tooth removal is not cheap, but our fee's are reasonable. We recommend you visit us for a consultation. The fees of a consultation is usually less then $100. After your consultation, we will happily give you a price breakdown and if you are covered by insurance then we will gladly find out your out of pocket cost.  <br><br> Patient satisfaction is our top priority, try us and experience the difference.
<br><br>

<b style="color:red"> How to prevent infection after extraction of wisdom teeth? </b>
<br><br>
Like any surgical or dental procedure there is always a risk of infection. We recommend that you rinse your mouth periodically with warm saltwater. Brushing your teeth is also important, even though you need to be careful and avoid the extraction area. <br><br> In most instances, an antibiotic mouth rinse will also be prescribed. Rinse your mouth with that mouth rinse alteast twice a day <br><br>

</p>

</p>
</p>


<p class="text-justify">

<b style="color:red"> Definition of wisdom Tooth Terminology</b>
<br><br>
<b style="color:black"> Impacted Wisdom Teeth 
</b>
<br><br>

An impacted wisdom tooth is a tooth that does not erupt from the gums properly. It may cause pain and become infected without professional extraction.<br><br>

<b style="color:black"> Asymptomatic Wisdom Teeth</b>
<br><br>

Asymptomatic wisdom teeth are teeth that show no symptoms of inflammation or overcrowding in the mouth. They may not be inflammed or irritated.
<br><br>


   

<b style="color:black"> Cysts  
</b>

<br><br>

Cysts are fluid-filled sacs that usually contains puss and can occur anywhere on the body. When its in your mouth it can be quite painful as your tongue may irritate it.

<br><br>





<b style="color:black"> Anesthesia
</b>

<br><br>

Anesthesia or anaesthesia (from Greek - 'without sensation') is a state of controlled, temporary loss of sensation or awareness that is induced for medical purposes. It may include some or all of analgesia (relief from or prevention of pain), paralysis (muscle relaxation), amnesia (loss of memory), and unconsciousness.
<br><br>

<b style="color:black"> Cosmetic Dentistry
</b>
<br><br>

Cosmetic dentistry is generally used to refer to any dental work that improves the appearance (though not necessarily the function) of a person's teeth, gums and/or bite. Smile Makeover is usually a cosmetic procedure which will rejuvenate your smile and build up your confidence.
<br><br>


<b style="color:black"> Vacuum Formed Mouthguard
</b>
<br><br>

An advanced mouth guard creation technique. Vacuum formed mouthguard involves customizing the mouthguard to match a mold of the individual patient's teeth for a PERFECT fit.
<br><br>


<b style="color:black">Dental Checkup
</b>
<br><br>

A dental checkup is an appointment that involves cleaning the teeth, identifying any signs of infection and removing said signs of infection at least once every six months in the office. Read more about it <a href="{{ site.baseurl }}/Dental_Checkup.html#Dental_Checkup">here</a>.

<br><br>

<b style="color:black"> Pericoronitis
</b>
<br><br>

Pericoronitis refers to the inflammation of the soft tissue surrounding the crown of a partially-erupted tooth.

<br><br>


<b style="color:black"> Third Molars
</b>
<br><br>

The third molars are also known as the wisdom teeth and typically require removal in order to prevent pain and other issues in the mouth.

<br><br>




<b style="color:black"> Abscess
</b>
<br><br>

A dental abscess is a pocket of pus the forms in the tooth root from a bacterial infection.

<br><br>
<b style="color:black"> Irreversible Pulpitis
</b>
<br><br>

    Irreversible pulpitis is when the pain in the tooth occurs spontaneously or continues to hurt even after the stimulus is removed such as hot or cold substance that was causing pain. Normal pulpitis will cease hurting directly after removing what is causing the pain.

<br><br>




<b style="color:black"> Dental Cleaning
</b>
<br><br>


    A dental Prophy or cleaning is a professional and detailed cleaning that involves the removal of plaque, calculus and stains from the teeth. Read more about it <a href="{{ site.baseurl }}/Dental_Cleaning.html#Dental_Cleaning">here</a>.


<br><br>


	

<b style="color:black"> Lateral Luxation
</b>
<br><br>


    Lateral luxation is the displacement of a tooth that moves it in the wrong direction while it is still attached to the gums.

<br><br>
<b style="color:black"> Tooth Fracture</b>
<br><br>
    A tooth fracture can result from multiple sources including an accidental blow to the face during a sports game, biting on something really hard, falling face first. It's recommended that you see your dentist soon after a dental fracture.  Dental Fractures may be quite painful.
<br><br>
<b style="color:black"> Facial Cellulitis</b>
<br><br>

    Facial cellulitis is a condition in which an infection from an abscess or plaque in the teeth causes pain and spreads throughout the face.

<br><br>

<h6>
	<b style="color:black"> Tooth Extraction Hackensack NJ | Kids Dentist Hasbrouck Heights NJ | Emergency Dentist Hackensack NJ </b>
<h6>

<h4>
	<b style="color:red"> Gentle Painless Dentist Hackensack NJ</b>
<h4>


<h3><p class="text-justify">
For appointment's please call <b>{% if site.contact.phone %}<strong style="color:red"></strong> <a style="color:red" href="tel:{{ site.contact.phone }}" title="{{ site.contact.phone }}" > {{ site.contact.phone }}  </a></b>{% endif %}
</p></h3>
                   </div>

            </div>
    </div>

</div>
</div>
<!-- End -->


