<h2>Dental Treatments</h2>
<h4>
<ul id="list-cols">
<h3 style="color:goldenrod">Minor Restorations </h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Treatments.html#composite">Composite Fillings</a></li> 
	</ul>
</ul>

<ul id="list-cols">
<h3 style="color:goldenrod">Cosmetic Procedures</h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Teeth_Whitening.html#whitening">Teeth Whitening</a></li>
	<li><a href="{{ site.baseurl }}/Porcelain_Veneers.html#veeners">Porcelain Veneers</a></li>

	</ul>
</ul>
<ul id="list-cols">
<h3 style="color:goldenrod">Major Restorations </h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Crown.html#crown">Crown and Bridge</a></li> 
	</ul>
</ul>

<ul id="list-cols">
<h3 style="color:goldenrod">Endo Restorations</h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Root_Canal#root_canal">Root Canal</a></li> 
	</ul>
</ul>

	
	</h4>