<h2>Dental Treatments</h2>
<h4>
<ul id="list-cols">
<h3 style="color:goldenrod">New Patient</h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Dental_Checkup.html#Dental_Checkup">Dental Checkup</a></li> 
	<li><a href="{{ site.baseurl }}/Dental_Cleaning.html#Dental_Cleaning">Dental Cleaning</a></li> 

	</ul>
</ul>

<ul id="list-cols">
<h3 style="color:goldenrod">Pediatric Dentist</h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Dental_Sealants.html#Dental_Sealants">Dental Sealants</a></li> 
	</ul>
</ul>

<ul id="list-cols">
<h3 style="color:goldenrod">Minor Restorations </h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Dental_Cavities.html#composite">Cavities / Fillings</a></li> 
	</ul>
</ul>

<ul id="list-cols">
<h3 style="color:goldenrod">Cosmetic Dentist</h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Teeth_Whitening.html#whitening">Teeth Whitening</a></li>
	<li><a href="{{ site.baseurl }}/Porcelain_Veneers.html#veeners">Porcelain Veneers</a></li>

	</ul>
</ul>
<ul id="list-cols">
<h3 style="color:goldenrod">Major Restorations </h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Crown.html#crown">Crown and Bridge</a></li>
	<li><a href="{{ site.baseurl }}/Dental_implant.html#dental_implant">Dental Implant</a></li>
	</ul>
</ul>

<ul id="list-cols">
<h3 style="color:goldenrod">Endodontics</h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Root_Canal.html#root_canal">Root Canal</a></li> 
	</ul>
</ul>

<ul id="list-cols">
<h3 style="color:goldenrod">Dental Emergency</h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Chipped_Tooth.html#chipped_teeth">Chipped Tooth</a></li> 
	</ul>
</ul>
	
<ul id="list-cols">
<h3 style="color:goldenrod">Dentures</h3>
	<ul id="list-cols">
	<li><a href="{{ site.baseurl }}/Dentures.html#dentures">Dentures</a></li> 
	</ul>
</ul>

	</h4>