<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">


    {% if site.google-verification %}
    <meta name="google-site-verification" content="{{ site.google_verification }}">
    {% endif %}
	{% seo %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.png" | prepend: site.baseurl }}">
 	<link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" />

	<link rel="apple-touch-icon" sizes="57x57" href="{{ "/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" />
  	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/apple-touch-icon-72x72.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{ "/apple-touch-icon-76x76.png" | prepend: site.baseurl }}" />
  	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/apple-touch-icon-114x114.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon" sizes="120x120" href="{{ "/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon" sizes="144x144" href="{{ "/apple-touch-icon-144x144.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon" sizes="152x152" href="{{ "/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon-180x180.png" | prepend: site.baseurl }}" />


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Dentist",
		"url":"https:\/\/cutesmilenj.com","brand":{"name":["Dr Samina Kathawala DDS Cute Smile"]},
      "image": ["https://cutesmilenj.com/img/9.JPG"],
      "@id": "https://cutsmilenj.com",
      "name": "Dr Samina Kathawala DDS Cute Smile",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "52 Summit Ave",
        "addressLocality": "Hackensack",
        "addressRegion": "NJ",
        "postalCode": "07601",
        "addressCountry": "US"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "bestRating": "5"
        },
      "url": "https://cutesmilenj.com",
      "telephone": "+12017780225",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday"
          ],
          "opens": "10:00",
          "closes": "18:30"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "10:30",
          "closes": "18:30"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "10:30",
          "closes": "18:30"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Sunday",
          "opens": "10:30",
          "closes": "18:30"
        }
      ]
    }
    </script>



<script>
$(document).ready(function(){
    $("form").submit(function(){
        alert("Thank you for your email,we will email you shortly with a confirmed appointment date and time. Appreciate your business!");
    });
});

// TODO FK Google Conversion tag for Delta Dental - Landing page conversion
gtag('config', 'AW-744028895');

</script>
</head>

