<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">
        
        <ul class="social">
			{% if site.google %}<li><a target="_blank" href="{{ site.google}}"><img src="{{ site.baseurl }}/img/google.png" alt="google cute smile review hackensack"></a></li>{% endif %}
            {% if site.facebook %}<li><a target="_blank" href="{{ site.facebook }}"><img src="{{ site.baseurl }}/img/facebook.png" alt="facebook cute smile review hackensack"></a></li>{% endif %}
            {% if site.healthgrades%}<li><a target="_blank" href="{{ site.healthgrades}}"><img src="{{ site.baseurl }}/img/hg.png" alt="healthgrades cute smile review hackensack"></a></li>{% endif %}

			{% if site.twitter %}<li><a href="{{ site.twitter }}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>{% endif %}
            {% if site.instagram %}<li><a href="{{ site.instagram }}"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>{% endif %}
            {% if site.youtube %}<li><a href="{{ site.youtube }}"><svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg></a></li>{% endif %}
            {% if site.skype %}<li><a href="{{ site.skype }}"><svg class="icon icon-skype"><use xlink:href="#icon-skype"></use></svg></a></li>{% endif %}
            {% if site.feed %}<li><a href="#"><svg class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg></a></li>{% endif %}
        </ul>

        <h4 style="color:gold" >{% if site.copyright %} {{ site.copyright }} {% endif %}</h4>


        <h4 ><a style="color:black"  href="mailto:kayinteractivesolutions@gmail.com?subject=Need Quote for my website | Referred by cutesmilesnj.com" >Website designed by Kay Interactive Inc. </a></h4>

    </div>
<p>
<p>
	        <div> 				
			<a class="scroll"  style="color:white"  href="{{ site.baseurl }}/index.html">Home</a></li>&nbsp;&nbsp;
            <a class="scroll" style="color:white"  href="{{ site.baseurl }}/contact.html">Contact Us</a>&nbsp;&nbsp;
			<a class="scroll" style="color:white"  href="{{ site.baseurl }}/AboutUs.html">About Us</a>&nbsp;&nbsp;
			<a class="scroll" style="color:white"  href="{{ site.baseurl }}/Reviews.html">Reviews</a>&nbsp;&nbsp;


			
		<!-- FK TODO		<li class="withSubMenu"><a href="#">SERVICES</a>
    <ul class="nav navbar-nav navbar-right">
    <li class=""><a href="/g1.html">PROGRAMS</a></li>
    <li class=""><a href="/g2.html">EVENTS</a></li>
    </ul> 
</li> -->
        </div>
<!--    </div> -->

</footer>
<!-- End Footer -->