<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="{{ site.baseurl }}/index.html"><img src="{{ site.logo_url }}" alt="{{ site.title }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll" href="{{ site.baseurl }}/index.html">HOME</a></li>
                <li><a class="scroll" href="{{ site.baseurl }}/AboutUs.html">MEET THE DOCTOR</a></li>
				<li><a class="scroll" href="{{ site.baseurl }}/contact.html">CONTACT US</a></li>
                <li><a class="scroll" href="{{ site.baseurl }}/Reviews.html">REVIEWS</a></li>
                <li><a class="scroll" href="{{ site.baseurl }}/Specials.html">SPECIALS</a></li>
                <li><a class="scroll" href="{{ site.baseurl }}/best_dentist_hackensack.html">WHY US</a></li>
				<li><a class="scroll" href="{{ site.baseurl }}/InsuranceAndFinance.html">INSURANCE</a></li>
                <li><a class="scroll" href="{{ site.baseurl }}/Treatments.html">TREATMENTS</a></li>
		<!--  TODO		<li class="withSubMenu"><a href="#">SERVICES</a>
    <ul class="nav navbar-nav navbar-right">
    <li class=""><a href="/g1.html">PROGRAMS</a></li>
    <li class=""><a href="/g2.html">EVENTS</a></li>
    </ul> 
</li> -->
<!-- TODO                 <li><a class="scroll" href="#gallery">Gallery</a></li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->